.woocommerce-error{
  position: fixed !important;
  bottom:0;
  left:0;
  right:0;
  margin: auto !important;
  z-index: 100;
}
.page-mypage{
  margin-top: 160px;
  margin-bottom: 120px;
  min-height: unset;
}
