.woocommerce-error{
  position: fixed !important;
  bottom:0;
  left:0;
  right:0;
  margin: auto !important;
  z-index: 100;
}
.page-mypage{
  margin-top: 160px;
  margin-bottom: 120px;
  min-height: unset;
  .section-account-info{
    margin-bottom: 60px;
    .mypage_title{
      @include mypageTitle;
    }
    .flex_wrap{
      @include flexSet;
      justify-content: space-between;
      align-items: center;
      .myprofile{
        @include flexSet;
        justify-content: space-between;
        align-items: center;
        .icon_wrap{
          width: 120px;
          height: 120px;
          border: solid 1px #4d4327;
          box-sizing: border-box;
          border-radius: 50%;
          backgorund-color: #fff;
          @include bgSet;
          background-image: url(../img/common/icon_default.svg);
          margin-right: 20px;
        }
        .profile_wrap{
          .user_name{
            @include tsukushi-b;
            font-size: 24px;;
            letter-spacing: 0.03em;
            margin-bottom: 20px;
            .user_email{
              display: inline-block;
              font-size: 16px;
              padding-left: 10px;
            }
          }
          .profile_point{
            @include tsukushi-b;
            @include flexSet;
            align-items: center;
            font-size: 16px;
            letter-spacing: 0.03em;
            color: #464646;
            margin-bottom: 10px;
            .num{
              @include tsukushi-r;
              font-size: 30px;
              color: $black01;
              display: inline-block;
              padding: 0 0.2em;
              margin-bottom: 5px;
            }
          }
        }
        .logout_link{
          @include tsukushi-b;
          font-size: 14px;
          line-height: normal;
          letter-spacing: normal;
          color: #979797;
          text-decoration: underline;
          @include hover;
        }
      }
      .history_wrap{
        @include flexSet;
        .status_item{
          width: 150px;
          text-align: center;
          border-radius: 20px;
          padding: 20px 0;
          margin-right: 10px;
          background: #fff;
          &:nth-last-of-type(1){
            margin-right: 0;
          }
          .title{
            display: block;
            @include tsukushi-b;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 5px;
            span{
              display: block;
            }
          }
          .number{
            @include tsukushi-r;
            font-size: 44px;
            line-height: 1;
            letter-spacing: normal;
          }
        }
      }
    }
  }
  .section-mypage{
    .woocommerce-MyAccount-navigation{
      width: 100%;
      float: none;
      ul{
        @include flexSet;
        align-items: center;
        li{
          padding: 0 20px;
          text-align: center;
          border-bottom: 2px solid #979797;
          a{
            display: block;
            padding: 10px 20px;
            @include tsukushi-b;
            @include hover;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0,03em;
            color: #979797;
            &::before{
              display: none !important;
            }
            &::after{
              font-family: inherit;
              font-size: 16px;
              line-height: normal;
              letter-spacing: 0,03em;
              color: #979797;
              text-indent: 0;
            }
          }
          &.woocommerce-MyAccount-navigation-link--bookings{
            order: 0;
            a{
              &::after{
                display: inline;
                content: "中のプラン";
                font-size: 16px;
                line-height: normal;
                letter-spacing: 0,03em;
                color: #979797;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--orders{
            display: none;
            order:1;
            a{
              &::after{
                content: "今までに行ったプラン";
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--edit-address{
            order: 2;
            a{
              &::after{
                content: "情報の変更";
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--edit-account{
            order: 3;
            a{
              &::after{
                content: "情報の変更";
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--dashboard,
          &.woocommerce-MyAccount-navigation-link--downloads,
          &.woocommerce-MyAccount-navigation-link--payment-methods,
          &.woocommerce-MyAccount-navigation-link--customer-logout{
            display: none;
          }
          &.active, &.is-active{
            border-bottom: 2px solid $pointYellow;
            a{
              color: $pointYellow;
              &::after{
                color: $pointYellow;
              }
            }
          }
        }
      }
    }
    .woocommerce-MyAccount-content{
      width: 100%;
      float: none;
      padding: 30px;
      background-color: #fff;
      box-sizing: border-box;
      @media screen and (max-width: 720px){
        padding: 25px 20px;
      }
      h2{
        @include mypageTitle;
        margin-bottom: 0;
      }
      h3{
        @include mypageTitle;
      }
    }
  }
  .section-unsubscribe{
    margin-top: 60px;
    .unsubscribe_button{
      @include tsukushi-b;
      color: #646464;
      text-decoration: underline;
      @include hover;
      font-size: 16px;
      letter-spacing: 0.01em;
    }
  }
}

@media screen and (max-width: 1100px){
  .woocommerce-error{
    position: fixed !important;
    bottom:0;
    left:0;
    right:0;
    margin: auto !important;
    z-index: 100;
  }
  .page-mypage{
    margin-top: 140px;
    margin-bottom: 100px;
    min-height: unset;
    .section-mypage{
      .woocommerce-MyAccount-navigation{
        ul{
          li{
            padding: 0 10px;
            a{
              padding: 10px;
              font-size: 14px !important;
              &::after{
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  .page-mypage{
    margin-top: 120px;
    margin-bottom: 80px;
    min-height: unset;
    .section-account-info{
      margin-bottom: 40px;
      .flex_wrap{
        .myprofile{
          .profile_wrap{
            .user_name{
              font-size: 18px;
              letter-spacing: 0.03em;
              margin-bottom: 10px;
              .user_email{
                font-size: 14px;
              }
            }
            .profile_point{
              font-size: 14px;
              margin-bottom: 5px;
              .num{
                font-size: 24px;
              }
            }
          }
        }
      }
    }
    .section-mypage{
      .woocommerce-MyAccount-navigation{
        width: 100%;
        float: none;
        ul{
          @include flexSet;
          align-items: center;
          li{
            width: auto;
            padding: 0 10px 0 0;
            border-bottom: 1px solid #979797;
            a{
              padding: 10px;
              font-size: 14px;
              &::before{
                display: none !important;
              }
              &::after{
                font-size: 14px;
              }
            }
            &.active, &.is-active{
              border-bottom: 1px solid $pointYellow;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  .page-mypage{
    margin-top: 100px;
    margin-bottom: 60px;
    min-height: unset;
    .section-account-info{
      margin-bottom: 30px;
      .mypage_title{
        display: none;
        text-align: center;
      }
      .flex_wrap{
        display: block;
        .myprofile{
          width: 100%;
          margin-bottom: 30px;
          .icon_wrap{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            box-sizing: border-box;
            margin-right: 0;
          }
          .profile_wrap{
            width: calc(100% - 110px);
            .user_name{
              font-size: 16px;
              letter-spacing: 0.03em;
              margin-bottom: 10px;
              .user_email{
                display: block;
                font-size: 12px;
                margin-top: 10px;
                padding-left: 0px;
              }
            }
            .profile_point{
              font-size: 12px;
              margin-bottom: 0px;
              .num{
                font-size: 24px;
                padding: 0 0.2em;
              }
            }
          }
          .logout_link{
            font-size: 12px;
          }
        }
        .history_wrap{
          .status_item{
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 10px 20px;
            @include flexSet;
            justify-content: space-between;
            align-items: center;
            margin-right: 0;
            margin-bottom: 10px;
            .title{
              font-size: 14px;
              line-height: 1.5;
              margin-bottom: 0;
              span{
                display: inline;
              }
            }
            .number{
              font-size: 28px;
            }
          }
        }
      }
    }
    .section-mypage{
      .woocommerce-MyAccount-navigation{
        width: 100%;
        float: none;
        ul{
          @include flexSet;
          align-items: center;
          li{
            padding: 0;
            text-align: center;
            border-bottom: 1px solid #979797;
            a{
              font-size: 13px !important;
              padding: 10px;
              &::after{
                font-size: 13px !important;
              }
            }
            &.active, &.is-active{
              border-bottom: 1px solid $pointYellow;
            }
            &.woocommerce-MyAccount-navigation-link--bookings{
              order: 0;
              a{
                &::after{
                  display: inline;
                  content: "履歴";
                }
              }
            }
            &.woocommerce-MyAccount-navigation-link--edit-address{
              order: 2;
              a{
                &::after{
                  content: "情報変更";
                }
              }
            }
            &.woocommerce-MyAccount-navigation-link--edit-account{
              order: 3;
              a{
                &::after{
                  content: "";
                }
              }
            }
          }
        }
      }
    }
    .section-unsubscribe{
      .unsubscribe_button{
        font-size: 14px;
      }
    }
  }
}
