.page-delete{
  margin-top: 160px;
  margin-bottom: 120px;
  min-height: unset;
  .comp-section-title{
    .title{
      font-size: 30px;
    }
  }
  .delete_form{
    max-width: 50%;
    margin: 30px auto 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    @include formSet;
    label{
      margin-bottom: 15px;
    }
    .submit_wrap{
      position: relative;
      @include hover;
      button{
        pointer-events: none;
      }
      input[type="submit"]{
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 980px){
  .page-delete{
    margin-top: 120px;
    margin-bottom: 100px;
    .comp-section-title{
      .title{
        font-size: 24px;
      }
    }
    .delete_form{
      max-width: 100%;
      margin: 30px auto 0;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 720px){
  .page-delete{
    margin-top: 100px;
    margin-bottom: 60px;
    .comp-section-title{
      .title{
        font-size: 6.5vw;
      }
    }
    .delete_form{
      max-width: 100%;
      margin: 30px auto 0;
      border-radius: 5px;
      padding: 20px 20px;
      label{
        margin-bottom: 10px;
      }
      .submit_wrap{
        button{
          font-size: 16px;
        }
      }
    }
  }
}
