.lost_reset_password{
  max-width: 720px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  p{
    display: none;
    &.form-row{
      display: block;
    }
  }
  &::before{
    display: block;
    content: "パスワードの再発行";
    text-align: center;
    @include mypageTitle
  }
  @include formSet;
  .form-row-first{
    width: 100% !important;
    margin: 0px 0 10px;
    &::before{
      display: block;
      content: "入力頂いたアドレス宛にパスワード再発行リンクをお送りします。";
      @include basicP;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
