.page-cart{
    min-height: unset;
  .section-lead{
    margin-bottom: 60px;
  }
  .section-cart{
    margin-bottom: 120px;
    .woocommerce{
      .cart-empty{
        background-color: #fff !important;
        border-left: 0px !important;
        color: inherit !important;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.6;
        &::before{
          position: absolute;
          top: 0 !important;
          bottom: 0  !important;
          left: 1.5em;
          color: #fff;
          width: 20px;
          height: 20px;
          margin: auto;
          color: inherit !important;
        }
      }
      .return-to-shop{
        .button{
          background-color: transparent !important;
          color: inherit;
          @include tsukushi-b;
          font-size: 18px;
          letter-spacing: 0.03em;
          @include hover;
          @media screen and (max-width: 980px){
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }
      table, tbody{
        width: 100%;
        display: block;
      }
      td{
        display: block;
      }
      thead{
        display: none;
      }
      .cart{
        margin-bottom: 35px !important;
        tbody{
          margin-bottom: 0px !important;
        }
        tr{
          width: 100%;
          display: none;
          box-sizing: border-box;
          &.cart_item{
            @include flexSet;
            align-items: center;
            position: relative;
            background-color: #fff;
            padding: 25px;
          }
          .coupon{
            display: none;
          }
        }
        .product-remove{
          display: none;
          position: absolute;
          top: 15px;
          right: 15px;
          padding: 0 !important;
          a{
            color: #fff;
            background: #3f3f3f;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            line-height: 27px;
            text-align: center;
            font-size: 14px;
            display: block;
            text-indent: 0.1em;
            @include hover;
            &::before{
              display: none !important;
            }
          }
        }
        .product-thumbnail{
          width: 120px;
          padding: 0 !important;
          a{
            display: block;
            img{
              max-width: 100% !important;
              height: auto;
            }
          }
        }
        .product-name{
          width: calc(100% - 570px);
          @include flexSet;
          flex-direction: column-reverse;
          box-sizing: border-box;
          padding: 0 30px;
          a{
            display: block;
            @include tsukushi-b;
            color: inherit;
            text-align: left !important;
            font-size: 18px;
            line-height: 1.6;
            letter-spacing: 0.03em;
          }
          .variation{
            @include flexSet;
            margin-bottom: 10px;
            @include tsukushi-b;
            color: #646464;
            font-size: 14px;
            line-height: 1.44;
            letter-spacing: 0.03em;
            dt{
              margin-right: 5px;
            }
            dd{
              margin-bottom: 0;
              margin-right: 15px;
              &:nth-of-type(1){
                p{
                }
              }
              &:nth-of-type(2){
                p{
                }
              }
            }
          }
        }
        .product-price, .product-quantity, .product-subtotal{
          text-align: center;
          font-size: 18px;
          @include tsukushi-b;
          letter-spacing: 0.03em;
          &::before{
            width: 100%;
            display: block;
            content: "金額";
            text-align: center;
            @include tsukushi-b;
            color: $black01;
            padding: 10px 0;
            background: #f4f4f4;
            border-radius: 10px;
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
        .product-price{
          width: 150px;
          box-sizing: border-box;
          padding: 0;
          padding-right: 20px;
          &::before{
            content: "金額";
          }
        }
        .product-quantity{
          width: 150px;
          box-sizing: border-box;
          padding: 0;
          padding-right: 20px;
          &::before{
            content: "人数";
          }
        }
        .product-subtotal{
          width: 150px;
          box-sizing: border-box;
          padding: 0;
          padding-right: 30px;
          &::before{
            content: "合計";
          }
        }
      }
      .cart-collaterals{
        padding: 0 20px;
        .cart_totals{
          width: 100% !important;
          @include flexSet;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          h2{
            display: none;
          }
          .shop_table{
            width: 35%;
            .cart-subtotal{
              display: none;
            }
            .order-total{
              @include flexSet;
              justify-content: space-between;
              align-items: center;
              font-size: 18px;
              line-height: normal;
              letter-spacing: 0.03em;
              @include tsukushi-b;
              th{
                &::after{
                  display: inline;
                  content: "金額:";
                }
              }
              td{
                background-color: transparent !important;
                strong{
                  font-size: 24px;
                  &::after{
                    font-size: 18px;
                    display: inline-block;
                    content: "(税込)";
                    padding-left: 5px;
                  }
                }
              }
            }
          }
          .wc-proceed-to-checkout{
            width: 50%;
            margin-bottom: 0 !important;
            #wc-stripe-payment-request-wrapper{
              display: none !important;
            }
            #wc-stripe-payment-request-button-separator{
              display: none !important;
            }
            a{
              display: block;
              background-color: $pointYellow;
              padding: 15px 0;
              text-align: center;
              @include tsukushi-b;
              color: #fff;
              font-size: 18px;
              letter-spacing: 0.03em;
              margin-bottom: 0 !important;
              @include hover;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .page-cart{
    .section-cart{
      .woocommerce{
        .cart{
          .product-name{
            width: calc(100% - 480px);
          }
          .product-price, .product-quantity, .product-subtotal{
            font-size: 16px;
          }
          .product-price{
            width: 120px;
          }
          .product-quantity{
            width: 120px;
          }
          .product-subtotal{
            width: 120px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px){
  .page-cart{
    .section-cart{
      margin-bottom: 80px;
      .woocommerce{
        .cart{
          margin-bottom: 25px !important;
          .product-thumbnail{
            width: 120px;
            margin-bottom: 30px;
          }
          .product-name{
            width: calc(100% - 120px);
            margin-bottom: 30px;
          }
          .product-price, .product-quantity, .product-subtotal{
            text-align: center;
            font-size: 18px;
            @include tsukushi-b;
            letter-spacing: 0.03em;
          }
          .product-price{
            width: 30%;
            margin-right: 5%;
            padding-right: 0px;
          }
          .product-quantity{
            width: 30%;
            margin-right: 5%;
            padding-right: 0px;
          }
          .product-subtotal{
            width: 30%;
            padding-right: 0px;
          }
        }
        .cart-collaterals{
          padding: 0 20px;
          .cart_totals{
            width: 100% !important;
            display: block;
            .shop_table{
              width: 100%;
              margin-bottom: 20px;
            }
            .wc-proceed-to-checkout{
              width: 100%;
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  .page-cart{
      min-height: unset;
    .section-lead{
      margin-bottom: 40px;
      text-align: center;
      .page_ttl{
        font-size: 6.5vw;
        letter-spacing: 0.03em;
      }
      .sub_ttl{
        font-size: 3.6vw;
        letter-spacing: 0.03em;
      }
    }
    .section-cart{
      margin-bottom: 60px;
      .woocommerce{
        .cart{
          margin-bottom: 20px !important;
          tr{
            &.cart_item{
              padding: 20px;
              align-items: flex-start;
            }
          }
          .product-remove{
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 0 !important;
            a{
              width: 20px;
              height: 20px;
              line-height: 20px;
              font-size: 12px;
              text-indent: 0.1em;
              &::before{
                display: none !important;
              }
            }
          }
          .product-thumbnail{
            width: 30%;
            padding: 0 !important;
            margin-bottom: 20px;
          }
          .product-name{
            @include flexSet;
            width: 70%;
            padding: 0 0 0 20px;
            margin-bottom: 20px;
            &::before{
              display: none !important;
            }
            a{
              order: 2;
              font-size: 14px;
              letter-spacing: 0.03em;
              line-height: 1.6;
              margin-bottom: 5px;
            }
            .variation{
              font-size: 3.2vw;
              color: #646464;
              line-height: 1.8;
              order: 1;
              margin-bottom: 5px;
              dt{
              }
              dd{
                margin-right: 15px;
              }
            }
          }
          .product-price, .product-quantity, .product-subtotal{
            text-align: left;
            font-size: 16px;
            @include flexSet;
            align-items: center;
            justify-content: space-between;

            &::before{
              width: 50%;
              display: block;
              text-align: center;
              padding: 10px 0;
              border-radius: 0px;
              font-size: 14px;
              margin-bottom: 0px;
            }
          }
          .product-price{
            width: 100%;
            padding-right: 0px;
            margin-right: 0;
            margin-bottom: 10px;
          }
          .product-quantity{
            width: 100%;
            padding-right: 0px;
            margin-right: 0;
            margin-bottom: 10px;
          }
          .product-subtotal{
            width: 100%;
            margin-right: 0;
          }
        }
        .cart-collaterals{
          padding: 0 10px;
          .cart_totals{
            display: block;
            .shop_table{
              width: 100%;
              .order-total{
                font-size: 18px;
                th{
                  display: block;
                }
                td{
                  &::before{
                    display: none !important;
                  }
                  strong{
                    font-size: 20px;
                    &::after{
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.woocommerce-message{

}
