.page-payment {

  .section-lead-completed {
    margin-bottom: 60px;
  }

  .section-payment {
    margin-bottom: 120px;
    .woocommerce-order{
      &::before{
        display: block;
        content: "ご注文情報";
        @include tsukushi-b;
        font-size: 24px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
      }
      .woocommerce-thankyou-order-received{
        display: none;
      }
      .woocommerce-order-overview{
        margin: 0 0 20px !important;
        background-color: #fff !important;
        padding: 20px 30px;
        box-sizing: border-box;
        @include flexSet;
        align-items: center;
        &::before{
          display: none !important;
        }
        li{
          box-sizing: border-box;
          padding: 10px 0 10px 0;
          margin-right: 40px;
          /*border-right: 1px solid #d8d8d8;*/
          border-bottom: 0px dotted #e3e3e3 !important;
          text-align: center;
          strong{
            display: inline-block;
            @include tsukushi-b;
            font-size: 16px;
            letter-spacing: 0.03em;
            padding-left: 10px;
          }
        }
      }
      .woocommerce-order-details{
        margin-top: 60px;
        .woocommerce-order-details__title{
          @include tsukushi-b;
          font-size: 24px;
          line-height: 1.6;
          letter-spacing: 0.03em;
          margin-bottom: 20px;
        }
        .order_details{
          display: block;
          width: 100%;
          box-sizing: border-box;
          background-color: transparent !important;
          thead{
            display: none;
          }
          table, tbody{
            width: 100%;
            display: block;
          }
          td{
            display: block;
          }
          tr{
            width: 100%;
            display: block;
            box-sizing: border-box;
            padding: 30px;
            &.order_item{
              @include flexSet;
              justify-content: space-between;
              align-items: center;
              position: relative;
              background-color: #fff;
            }
            .product-thumbnail{
              width: 120px;
              padding: 0 !important;
              a{
                display: block;
                img{
                  max-width: 100% !important;
                }
              }
            }
            .product-name{
              a{
                display: block;
                @include tsukushi-b;
                font-size: 26px;
                line-height: 1.6;
                color: inherit;
                letter-spacing: 0.03em;
                margin-bottom: 10px;
              }
              .product-quantity{
                display: none;
              }
              .wc-booking-summary{
                margin: 0 !important;
                border: 0px solid #ddd !important;
                padding: 0 !important;
                color: unset !important;
                border-radius: 0px !important;
              }
              .wc-booking-summary-number{
                display: block;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.03em;
                margin-bottom: 15px;
              }
              .wc-booking-summary-list{
                @include tsukushi-b;
                font-size: 16px;
                color: #646464;
                letter-spacing: 0.03em;
              }
              .wc-booking-summary-actions{
                display: none;
              }
            }
            .product-total{
              @include tsukushi-b;
              font-size: 16px;
              letter-spacing: 0.03em;
              .amount{
                &::after{
                  display: inline;
                  content: "(税込)";
                }
              }
            }
          }
          tfoot{
            width: 100%;
            display: block;
            padding-top: 30px;
            @include flexSet;
            tr{
              width: auto !important;
              margin-right: 30px;
              @include flexSet;
              align-items: center;
              @include tsukushi-b;
              line-height: 1.6;
              letter-spacing: 0.03em;
              padding: 10px 10px 0 !important;
              th{
                margin-right: 10px;
                text-align: left;
                font-size: 14px;
              }
              td{
                font-size: 18px;
                .amount{
                  &::after{
                    display: inline;
                    content: "(税込)";
                  }
                }
              }
              &:nth-last-of-type(2){
                margin-right: 0;
              }
              &:nth-last-of-type(1){
                width: 100% !important;
                margin-right: 0;
              }
            }
          }
        }
      }
      .woocommerce-customer-details{
        margin-top: 60px;
        .woocommerce-column__title{
          @include tsukushi-b;
          font-size: 24px;
          line-height: 1.6;
          letter-spacing: 0.03em;
          margin-bottom: 20px;
        }
        address{
          display: block;
          width: 100%;
          box-sizing: border-box;
          background: #fff;
          padding: 30px;
          line-height: 1.6;
          font-style:normal;
        }
      }
    }
  }
}

@media screen and (max-width: 980px){
  .page-payment {

    .section-lead-completed {
      margin-bottom: 60px;
      .page_ttl{
        font-size: 32px;
        letter-spacing: 0.03em;
      }
      .sub_ttl{
        font-size: 16px;
        letter-spacing: 0.03em;
      }
    }

    .section-payment {
      margin-bottom: 80px;
      .woocommerce-order{
        .woocommerce-order-overview{
          margin: 0 0 20px !important;
          background-color: #fff !important;
          padding: 15px 20px;
          box-sizing: border-box;
          @include flexSet;
          align-items: center;
          &::before{
            display: none !important;
          }
          li{
            margin-right: 30px;
          }
        }
        .woocommerce-order-details{
          margin-top: 60px;
          .woocommerce-order-details__title{
            @include tsukushi-b;
            font-size: 24px;
            line-height: 1.6;
            letter-spacing: 0.03em;
            margin-bottom: 20px;
          }
          .order_details{
            display: block;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent !important;
            thead{
              display: none;
            }
            table, tbody{
              width: 100%;
              display: block;
            }
            td{
              display: block;
            }
            tr{
              width: 100%;
              display: block;
              box-sizing: border-box;
              padding: 25px;
              .product-name{
                width: 100%;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #f1f1f1;
                a{
                  font-size: 22px;
                  line-height: 1.6;
                  margin-bottom: 10px;
                }
              }
            }
            tfoot{
              width: 100%;
              display: block;
              tr{
                display: none;
                &:nth-last-of-type(1){
                  width: 50%;
                  margin-left: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .page-payment {

    .section-lead-completed {
      margin-bottom: 40px;
      .page_ttl{
        font-size: 7vw;
        letter-spacing: 0.03em;
        line-height: 1.4;
      }
      .sub_ttl{
        font-size: 16px;
        letter-spacing: 0.03em;
      }
    }

    .section-payment {
      margin-bottom: 60px;
      .woocommerce-order{
        &::before{
          font-size: 20px;
          margin-bottom: 20px;
        }
        .woocommerce-order-overview{
          margin: 0 0 20px !important;
          padding: 5px 20px;
          display: block;
          li{
            padding: 15px 0 15px 0;
            margin-right: 0px;
            border-bottom: 1px dotted #e3e3e3 !important;
            text-align: left;
            &:nth-last-of-type(1){
              border-bottom: 0 !important;
            }
            strong{
              margin-top: 10px;
              display: block;
              font-size: 14px;
              padding-left: 0px;
            }
          }
        }
        .woocommerce-order-details{
          margin-top: 60px;
          .woocommerce-order-details__title{
            font-size: 20px;
          }
          .order_details{
            display: block;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent !important;
            tr{
              width: 100%;
              display: block;
              box-sizing: border-box;
              padding: 20px;
              &.order_item{
                @include flexSet;
                justify-content: space-between;
                align-items: center;
                position: relative;
                background-color: #fff;
              }
              .product-thumbnail{
                width: 120px;
                padding: 0 !important;
                a{
                  display: block;
                  img{
                    max-width: 100% !important;
                  }
                }
              }
              .product-name{
                a{
                  font-size: 20px;
                  line-height: 1.5;
                }
                .product-quantity{
                  display: none;
                }
                .wc-booking-summary{
                  margin: 0 !important;
                  border: 0px solid #ddd !important;
                  padding: 0 !important;
                  color: unset !important;
                  border-radius: 0px !important;
                }
                .wc-booking-summary-number{
                  font-size: 12px;
                  margin-bottom: 15px;
                }
                .wc-booking-summary-list{
                  font-size: 14px;
                }
              }
              .product-total{
                font-size: 16px;
              }
            }
            tfoot{
              tr{
                display: none;
                &:nth-last-of-type(1){
                  width: 100%;
                  margin-left: 0%;
                  @include flexSet;
                  justify-content: space-between;
                  align-items: center;
                  @include tsukushi-b;
                  letter-spacing: 0.03em;
                  padding: 30px 10px 0 !important;
                  th{
                    font-size: 18px;
                  }
                  td{
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
        .woocommerce-customer-details{
          margin-top: 60px;
          .woocommerce-column__title{
            font-size: 20px;
          }
          address{
            padding: 20px;
          }
        }
      }
    }
  }
}
