.page-flow{
  .section-flow-01{
    margin: 80px auto 100px;
  }
  .section-flow-02{
    margin: 0px auto 120px;
    .trip_detail{
      @include flexSet;
      justify-content: space-between;
      margin-top: 40px;
      .detail_item{
        width: 31%;
        .img_wrap{
          margin-bottom: 20px;
        }
        .txt_wrap{
          .title_wrap{
            margin-bottom: 20px;
            .small{
              @include tsukushi-b;
              display: block;
              font-size: 16px;
              line-height: normal;
              letter-spacing: 1px;
              color: $black02;
              margin-bottom: 5px;
            }
            .item_ttl{
              @include tsukushi-b;
              font-size: 22px;
              line-height: 1.5;
              letter-spacing: 1.41px;
              color: $black02;
            }
          }
          .item_desc{
            @include basicP;
            font-size: 14px;
          }
        }
      }
    }
    .trip_outline{
      @include flexSet;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      .img_wrap{
        width: 48%;
      }
      .txt_wrap{
        width: 48%;
        .desc_wrap{
          @include basicP;
          font-size: 14px;
          margin-top: -10px;
        }
      }
    }
  }
  .section-plans{
    padding: 160px 0 100px;
    background: #fff;
  }
}

@media screen and (max-width: 980px){
  .page-flow{
    .section-flow-01{
      margin: 80px auto 60px;
    }
    .section-flow-02{
      margin: 0px auto 60px;
      .trip_detail{
        display: block;
        margin-top: 40px;
        .detail_item{
          width: 100%;
          @include flexSet;
          margin-bottom: 40px;
          padding-bottom: 40px;
          border-bottom: 1px dotted $pointYellow;
          &:nth-last-of-type(1){
            margin-bottom: 0;
            padding-bottom:0;
            border-bottom: 0;
          }
          .img_wrap{
            width: 38%;
            margin-right: 5%;
            margin-bottom: 0px;
          }
          .txt_wrap{
            width: 57%;
            .title_wrap{
              margin-bottom: 20px;
              .small{
                @include tsukushi-b;
                display: block;
                font-size: 16px;
                line-height: normal;
                letter-spacing: 1px;
                color: $black02;
                margin-bottom: 5px;
              }
              .item_ttl{
                @include tsukushi-b;
                font-size: 22px;
                line-height: 1.5;
                letter-spacing: 1.41px;
                color: $black02;
              }
            }
            .item_desc{
              @include basicP;
              font-size: 14px;
            }
          }
        }
      }
      .trip_outline{
        display: block;
        .img_wrap{
          width: 100%;
          margin-bottom: 30px;
        }
        .txt_wrap{
          width: 100%;
        }
      }
    }
    .section-plans{
      padding: 100px 0 60px;
    }
  }
}

@media screen and (max-width: 700px){
  .page-flow{
    .section-flow-01{
      margin: 40px auto 60px;
    }
    .section-flow-02{
      margin: 0px auto 60px;
      .trip_detail{
        display: block;
        margin-top: 30px;
        .detail_item{
          display: block;
          width: 100%;
          .img_wrap{
            width: 100%;
            margin-bottom: 15px;
          }
          .txt_wrap{
            width: 100%;
            .title_wrap{
              margin-bottom: 20px;
              .small{
                @include tsukushi-b;
                display: block;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.75px;
                color: $black02;
                margin-bottom: 5px;
              }
              .item_ttl{
                font-size: 18px;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
      .trip_outline{
        display: block;
        margin-top: 30px;
        .img_wrap{
          width: 100%;
          margin-bottom: 15px;
        }
        .txt_wrap{
          width: 100%;
        }
      }
    }
    .section-plans{
      padding: 60px 0 20px;
    }
  }

}
