.page-index{
  .section-main{
    .main_inner{
      width: 100%;
      height: 100vh;
      position: relative;
      .txt_wrap{
        position: absolute;
        left: 60px;
        bottom: 60px;
        z-index: 50;
        .site_ttl{
          @include tsukushi-r;
          font-size: 65px;
          line-height: 1.54;
          letter-spacing: 8px;
          color: #fff;
          margin-bottom: 30px;
          span{
            display: block;
          }
        }
        .slide_txt{
          @include flexSet;
          align-items: center;
          .number{
            @include tsukushi-b;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1.5px solid #fff;
            color: #fff;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            letter-spacing: 0.33px;
            margin-right: 15px;
          }
          .txt{
            @include tsukushi-b;
            font-size: 24px;
            line-height: 1;
            letter-spacing: 1.2px;
            color: #fff;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
  .section-pickup{
    padding: 160px 0;
  }
  .section-plan-list{
    padding: 160px 0 80px;
    background: #fff;
  }
  .section-service{
    margin: 160px 0;
    .section_inner{
      position: relative;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 85%;
        height: 100%;
        background: #fff;
      }
      .txt_wrap{
        width: 40%;
        position: relative;
        z-index: 10;
        padding: 80px;
        .description{
          @include basicP;
        }
      }
    }
  }
  .section-kagibito{
    margin: 160px 0 160px;
    .section_inner{
      @include flexSet;
      position: relative;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top:0;
        right:0;
        width: 85%;
        height: 100%;
        background: #fff;
      }
      .kagibito_img{
        width: 50%;
      }
      .txt_wrap{
        width: 50%;
        position: relative;
        z-index: 10;
        padding: 80px;
        box-sizing: border-box;
        .description{
          @include basicP;
        }
      }
    }
  }
  .section-news{
    margin-bottom: 160px;
  }
}
