@keyframes loading {
  0% {
    width: 0;
  }
  99.9%, to {
    width: 100%;
  }
}

.page-index{
  .section-main{
    .main_inner{
      width: 100%;
      height: 100vh;
      position: relative;
      .gauge_wrap{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left:0px;
        right:0px;
        width: 100%;
        z-index: 60;
        .gauge_inner{
          position: relative;
          width: 100%;
          height: 2px;
          background: #fff;
          .gauge_display{
            position:  absolute;
            width: 0px;
            height: 100%;
            top:0;
            bottom:0;
            left:0;
            margin: auto;
            background: $pointYellow;
            animation: loading 8s linear 0s infinite normal;
          }
        }
      }
    }
  }
  .section-pickup{
    padding: 160px 0;
  }
  .section-plan-list{
    padding: 160px 0 80px;
    background: #fff;
  }
  .section-service{
    margin: 160px 0;
    .section_inner{
      position: relative;
      background: #fff;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top:0;
        right:0;
        width: 15%;
        height: 100%;
        background: #f9f6f3;
      }
      .txt_wrap{
        width: 40%;
        position: relative;
        z-index: 10;
        padding: 80px;
        .description{
          @include basicP;
        }
        .comp-link-button{
          margin-top: 30px;
        }
      }
    }
  }
  .section-kagibito{
    margin: 160px 0 200px;
    .section_inner{
      @include flexSet;
      position: relative;
      background: #fff;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 15%;
        height: 100%;
        background: #f9f6f3;
      }
      .kagibito_img{
        width: 45%;
        position: absolute;
        left:0;
        top: -40px;
        @include flexSet;
        .img_box{
          width: 33%;
          @include bgSet;
          padding-right: 1px;
          padding-bottom: 1px;
          box-sizing: border-box;
        }
      }
      .txt_wrap{
        width: 55%;
        margin-left: 45%;
        z-index: 10;
        padding: 80px;
        box-sizing: border-box;
        .description{
          @include basicP;
        }
        .comp-link-button{
          margin-top: 30px;
        }
      }
    }
  }
  .section-news{
    margin-bottom: 160px;
  }
  .section-footer-link{
    margin-bottom: 120px;
  }
}
