.page-news-list{
  .section-news{
    margin-top: 200px;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 980px){
  .page-news-list{
    .section-news{
      margin-top: 160px;
      margin-bottom: 120px;
    }
  }
}

@media screen and (max-width: 720px){
  .page-news-list{
    .section-news{
      margin-top: 120px;
      margin-bottom: 80px;
      .comp-section-title{
        text-align: center;
        .title{
          font-size: 6.6vw;
        }
      }
    }
  }
}
