.page-plan-list{
  .section-plan-list{
    margin-top: 200px;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 980px){
  .page-plan-list{
    .section-plan-list{
      margin-top: 160px;
      margin-bottom: 120px;
    }
  }
}

@media screen and (max-width: 720px){
  .page-plan-list{
    .section-plan-list{
      margin-top: 120px;
      margin-bottom: 80px;
    }
  }
}
