.page-transaction{
  margin-bottom: 120px;
  .trans_ttl{
    @include tsukushi-b;
    font-size: 22px;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
  }
  .comp-underpage-lead{
    margin-bottom: 80px;
    .page_ttl{
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: 980px){
  .page-transaction{
    margin-bottom: 100px;
    .comp-block-line{
      margin: 60px 0;
    }
  }
}

@media screen and (max-width: 720px){
  .page-transaction{
    margin-bottom: 60px;
    .trans_ttl{
      text-align: center;
      font-size: 18px;
      margin-bottom: 30px;
    }
    .comp-underpage-lead .page_ttl{
      font-size: 6.5vw;
      margin-bottom: 40px;
    }
    .comp-underpage-lead{
      margin-bottom: 60px;
      .comp-section-title .title{
        font-size: 6vw;
        text-align: center;
      }
    }
  }
}
