$black01: #111;
$black02: #222;

/* ----- Google Fonts ----- */
@font-face {
    font-family: 'PoiretOne';
    src: url('../fonts/PoiretOne.eot'),url('../fonts/PoiretOne.woff') format('woff'),
    url('../fonts/PoiretOne.otf') format('truetype'),
}

@mixin midashi{
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin poiret{
  font-family: 'PoiretOne', sans-serif;
  font-weight: normal;
}

@mixin waku{
  max-width: 1400px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1100px){
    width: 86vw;
  }
  @media screen and (max-width: 980px){
    max-width: 780px;
    width: 86vw;
  }
  @media screen and (max-width: 720px){
    width: 88vw;
  }
}
@mixin flexSet {
	display: flex;
	flex-wrap: wrap;
}
@mixin bgSet{
  background:{
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
@mixin hover{
  transition: opacity .3s;
  &:hover{
    opacity: 0.75;
  }
}
@mixin blackBg{
  background: $black02;
  padding: 80px;
  box-sizing: border-box;
  @media screen and (max-width: 1100px){
      padding: 60px;
  }
  @media screen and (max-width: 980px){
    max-width: unset;
    width: 100vw;
    padding: 90px 7vw;
    margin-left: -7vw;
  }
  @media screen and (max-width: 720px){
    padding: 60px 6vw;
    margin-left: -6vw;
  }
}
@mixin wave{
  padding: 0 0 0 30px;
  background: url(../img/common/wave.png) repeat-y left top;
  background-size: 4px 9px;
  @media screen and (max-width: 720px){
    padding: 0 0 0 20px;
  }
}
@mixin basicP{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.32px;
  color: $black01;
  @media screen and (max-width: 1100px){
    font-size: 14px;
  }
}
