$black01: #363636;
$black02: #363636;
$basicBgColor: #f9f6f3;
$pointYellow: #BF992E;

/* ----- Google Fonts ----- */

@mixin tsukushi-r{
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
}

@mixin tsukushi-b{
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
}

@mixin waku{
  max-width: 1400px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1100px){
    width: 86vw;
  }
  @media screen and (max-width: 980px){
    max-width: 780px;
    width: 86vw;
  }
  @media screen and (max-width: 720px){
    width: 88vw;
  }
}
@mixin flexSet {
	display: flex;
	flex-wrap: wrap;
}
@mixin bgSet{
  background:{
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
@mixin hover{
  transition: opacity .3s;
  &:hover{
    opacity: 0.75;
  }
}
@mixin txtHover{
  transition: color .2s;
  &:hover{
    color: #979797;
  }
}
@mixin blackBg{
  background: $black02;
  padding: 80px;
  box-sizing: border-box;
  @media screen and (max-width: 1100px){
      padding: 60px;
  }
  @media screen and (max-width: 980px){
    max-width: unset;
    width: 100vw;
    padding: 90px 7vw;
    margin-left: -7vw;
  }
  @media screen and (max-width: 720px){
    padding: 60px 6vw;
    margin-left: -6vw;
  }
}
@mixin wave{
  padding: 0 0 0 30px;
  background: url(../img/common/wave.png) repeat-y left top;
  background-size: 4px 9px;
  @media screen and (max-width: 720px){
    padding: 0 0 0 20px;
  }
}
@mixin border{
  padding: 30px 0 0 0;
  background: url(../img/common/wave.png) repeat-y center bottom;
}
@mixin basicP{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
