$black01: #3f3f3f;
$black02: #3f3f3f;
$basicBgColor: #f9f6f3;
$pointYellow: #BF992E;

/* ----- Google Fonts ----- */

@mixin tsukushi-r{
  font-family: "TsukuARdGothicStd-R", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-weight: normal;
}

@mixin tsukushi-b{
  font-family: "FOT-筑紫A丸ゴシック Std D","ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-weight: bold;
}

@mixin waku{
  max-width: 1400px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1100px){
    width: 86vw;
  }
  @media screen and (max-width: 980px){
    max-width: 780px;
    width: 86vw;
  }
  @media screen and (max-width: 720px){
    width: 88vw;
  }
}
@mixin flexSet {
	display: flex;
	flex-wrap: wrap;
}
@mixin bgSet{
  background:{
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
@mixin hover{
  transition: opacity .3s;
  &:hover{
    opacity: 0.75;
  }
}
@mixin txtHover{
  transition: color .2s;
  &:hover{
    color: #979797;
  }
}
@mixin blackBg{
  background: $black02;
  padding: 80px;
  box-sizing: border-box;
  @media screen and (max-width: 1100px){
      padding: 60px;
  }
  @media screen and (max-width: 980px){
    max-width: unset;
    width: 100vw;
    padding: 90px 7vw;
    margin-left: -7vw;
  }
  @media screen and (max-width: 720px){
    padding: 60px 6vw;
    margin-left: -6vw;
  }
}
@mixin wave{
  padding: 0 0 0 30px;
  background: url(../img/common/wave.png) repeat-y left top;
  background-size: 4px 9px;
  @media screen and (max-width: 720px){
    padding: 0 0 0 20px;
  }
}
@mixin border{
  padding: 30px 0 0 0;
  background: url(../img/common/wave.png) repeat-y center bottom;
}
@mixin basicP{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
@mixin locationSet{
  span{
    @include tsukushi-r;
    font-size: 16px;
    line-height: normal;
    color: #464646;
    position: relative;
    padding: 5px 0;
    &::before{
      display: block;
      content: "";
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      margin: auto;
      @include bgSet;
    }
    &.area{
      padding-left: 30px;
      margin-right: 20px;
      &::before{
        width: 15px;
        height: 100%;
        background-size: 14px;
        background-image: url(../img/common/pin.svg);
      }
    }
    &.guesthouse{
      padding-left: 30px;
      &::before{
        width: 17px;
        height: 100%;
        background-size: 17px;
        background-image: url(../img/common/guesthouse.svg);
      }
    }
  }
}

@mixin kagibitoSet{
  @include flexSet;
  align-items: center;
  .icon{
    @include hover;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid $pointYellow;
    @include bgSet;
    margin-right: 20px;
    box-sizing: border-box;
  }
  .kagibito_info{
    width: calc(100% - 90px);
    padding-bottom: 5px;
    .info{
      display: block;
      @include tsukushi-r;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
    }
    .name{
      display: block;
      @include tsukushi-b;
      font-size: 20px;
      letter-spacing: 1.16px;
      color: inherit;
      @include hover;
    }
  }
}
@mixin mypageTitle{
  @include tsukushi-b;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  @media screen and (max-width: 720px){
    font-size: 20px;
  }
}
@mixin breakTableLayout{
  display: block;
  width: 100%;
  thead{
    display: none;
  }
  tbody, tfoot, tr,td{
    display: block;
  }
}
@mixin formSet{
  .form-row{
    margin-bottom: 25px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    @include tsukushi-b;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
  }
  input[type=email],
  input[type=tel],
  input[type=text],
  input[type=password] {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 10px;
    transition: border 0.2s;
    will-change: border;
    box-sizing: border-box;
    letter-spacing: 0.5px;

    &:focus {
      outline: none;
      border: 1px solid #979797;
    }
  }
  select {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 10px;
    transition: border 0.2s;
    will-change: border;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    &:focus {
      outline: none;
      border: 1px solid #979797;
    }
  }
  button[type="submit"]{
    display: block;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    font-size: 20px !important;
    text-align: center;
    @include tsukushi-b;
    border-radius: 5px;
    transition: opacity 0.3s;
    cursor: pointer;
    @include hover;
    background-color: $pointYellow !important;
  }
  .show-password-input{
    position: absolute;
    top: 10px;
    right: 15px;
    height: 15px;
    margin: auto;
    padding: 0;
    line-height: 1;
  }
  .woocommerce-password-strength{
    margin: 10px 0;
    padding: 0 10px;
  }
  .woocommerce-password-hint{
    @include basicP;
    font-size: 14px;
  }
  @media screen and (max-width: 720px){
    .form-row{
      margin-bottom: 25px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      @include tsukushi-b;
      font-size: 16px;
      line-height: normal;
      letter-spacing: normal;
      position: relative;
    }
    input[type=email],
    input[type=tel],
    input[type=text],
    input[type="password"] {
      font-size: 16px;
    }
    select {
      font-size: 16px;
    }
    button[type="submit"]{
      display: block;
      padding: 7px 0;
      font-size: 18px !important;
    }
    .show-password-input{
      position: absolute;
      top: 10px;
      right: 15px;
      height: 15px;
      margin: auto;
      padding: 0;
      line-height: 1;
    }
    .woocommerce-password-strength{
      margin: 10px 0;
      padding: 0 10px;
    }
    .woocommerce-password-hint{
      @include basicP;
      font-size: 14px;
    }
  }
}
