@charset "UTF-8";
/*########## ミックスイン ##########*/
/* ----- Google Fonts ----- */
/*########## 共通レイアウト ##########*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul:after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*@import 'common/form.scss';*/
body {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.07em;
  color: #222;
  background: #f9f6f3;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.bind {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

article {
  overflow: hidden;
}
article .comp-loading-bar {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
article section {
  transition: opacity 0.5s;
  oapcity: 1;
}
article.loading {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
article.loading .comp-loading-bar {
  opacity: 1;
  pointer-events: all;
}
article.loading section {
  opacity: 0;
}
@media screen and (max-width: 980px) {
  article.underpage {
    margin-top: 120px;
  }
}
@media screen and (max-width: 720px) {
  article.underpage {
    margin-top: 70px;
  }
}

section .section_inner {
  max-width: 1400px;
  width: 80.5vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1100px) {
  section .section_inner {
    width: 86vw;
  }
}
@media screen and (max-width: 980px) {
  section .section_inner {
    max-width: 780px;
    width: 86vw;
  }
}
@media screen and (max-width: 720px) {
  section .section_inner {
    width: 88vw;
  }
}

button {
  font-family: inherit;
  background: transparent;
  -webkit-appearance: none;
          appearance: none;
  border: none;
}
button:focus {
  outline: none;
}

.flex_column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex_column2 .flex_item {
  width: 46.5%;
}
@media screen and (max-width: 980px) {
  .flex_column2 {
    display: block;
  }
  .flex_column2 .flex_item {
    width: 100%;
  }
}

.flex_column3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex_column3 .flex_item {
  width: 28.9%;
}
@media screen and (max-width: 720px) {
  .flex_column3 {
    display: block;
  }
  .flex_column3 .flex_item {
    width: 100%;
  }
}

.wave {
  padding: 0 0 0 30px;
  background: url(../img/common/wave.png) repeat-y left top;
  background-size: 4px 9px;
}
@media screen and (max-width: 720px) {
  .wave {
    padding: 0 0 0 20px;
  }
}

.pc_none {
  display: none;
}
@media screen and (max-width: 1100px) {
  .pc_none {
    display: block;
  }
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
header .header_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .header_inner .header_left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .header_inner .header_left .h_logo {
  position: relative;
  height: 120px;
  margin-right: 30px;
}
header .header_inner .header_left .h_logo::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 60%;
  background: #fff;
}
header .header_inner .header_left .h_logo a {
  display: block;
  width: 160px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 80px;
  background-image: url(../img/common/logo_white.svg);
  transition: opacity 0.3s;
}
header .header_inner .header_left .h_logo a:hover {
  opacity: 0.75;
}
header .header_inner .header_left .h_nav ul {
  display: flex;
  flex-wrap: wrap;
}
header .header_inner .header_left .h_nav ul li {
  margin-right: 1.5em;
}
header .header_inner .header_left .h_nav ul li a {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  line-height: 2;
  display: block;
  transition: opacity 0.3s;
  color: #fff;
}
header .header_inner .header_left .h_nav ul li a:hover {
  opacity: 0.75;
}
header .header_inner .header_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .header_inner .header_right .count_contents {
  display: flex;
  flex-wrap: wrap;
}
header .header_inner .header_right .count_contents .count_item.line {
  position: relative;
}
header .header_inner .header_right .count_contents .count_item.line::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 80%;
  background: #fff;
}
header .header_inner .header_right .count_contents .count_item a {
  transition: opacity 0.3s;
  display: block;
  color: #fff;
  padding: 0 35px;
}
header .header_inner .header_right .count_contents .count_item a:hover {
  opacity: 0.75;
}
header .header_inner .header_right .count_contents .count_item a .number {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
header .header_inner .header_right .count_contents .count_item a .number .num {
  display: block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 1px;
  margin-right: 0.3em;
}
header .header_inner .header_right .count_contents .count_item a .content {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
header .header_inner .header_right .count_contents .count_item a .content span {
  display: inline-block;
}
header .header_inner .header_right .box_contents {
  display: flex;
  flex-wrap: wrap;
}
header .header_inner .header_right .box_contents .box_item {
  display: block;
  width: 120px;
  height: 120px;
  font-size: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  line-height: 180px;
}
header .header_inner .header_right .box_contents .box_item.mypage {
  background-color: #f1f1f1;
  color: #363636;
  background-size: 25px;
  background-position: center top 40px;
  background-image: url(../img/common/mypage.svg);
}
header .header_inner .header_right .box_contents .box_item.cart {
  background-color: #363636;
  color: #fff;
  background-size: 32px;
  background-position: left 42px top 38px;
  background-image: url(../img/common/cart.svg);
}

footer {
  padding: 120px 0;
  background-color: #231916;
}
footer .footer_inner .footer_upper {
  margin-bottom: 60px;
}
footer .footer_inner .footer_upper .footer_logo {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/common/logo_white.svg);
}
footer .footer_inner .footer_upper .catchcopy {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.15px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
footer .footer_inner .footer_upper .sns_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .footer_inner .footer_upper .sns_wrap a {
  display: block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
footer .footer_inner .footer_upper .sns_wrap a:nth-last-of-type(1) {
  margin-right: 0;
}
footer .footer_inner .footer_upper .sns_wrap a.ig {
  background-size: 22px;
  background-image: url(../img/common/icon_ig.png);
}
footer .footer_inner .footer_upper .sns_wrap a.fb {
  background-size: 14px;
  background-image: url(../img/common/icon_fb.png);
}
footer .footer_inner .footer_upper .sns_wrap a.tw {
  background-size: 20px;
  background-image: url(../img/common/icon_tw.png);
}
footer .footer_inner .footer_lower .nav_upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
footer .footer_inner .footer_lower .nav_upper a {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: block;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.14px;
  color: #fff;
  position: relative;
  margin-right: 1.2em;
  padding-right: 1.2em;
}
footer .footer_inner .footer_lower .nav_upper a::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 15px;
  background: #fff;
}
footer .footer_inner .footer_lower .nav_upper a:nth-last-of-type(1) {
  margin-right: 0em;
  padding-right: 0em;
}
footer .footer_inner .footer_lower .nav_upper a:nth-last-of-type(1)::after {
  display: none;
}
footer .footer_inner .footer_lower .nav_lower {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
footer .footer_inner .footer_lower .nav_lower a {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.14px;
  color: #fff;
  position: relative;
  margin-right: 2em;
}
footer .footer_inner .footer_lower .nav_lower a:nth-last-of-type(1) {
  margin-right: 0em;
}
footer .footer_inner .footer_lower .copyright {
  text-align: center;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1.14px;
  color: #fff;
}

/*@import 'common/animation.scss';*/
/*########## ページ個別レイアウト ##########*/
@keyframes loading {
  0% {
    width: 0;
  }
  99.9%, to {
    width: 100%;
  }
}
.page-index .section-main .main_inner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.page-index .section-main .main_inner .gauge_wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 60;
}
.page-index .section-main .main_inner .gauge_wrap .gauge_inner {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
}
.page-index .section-main .main_inner .gauge_wrap .gauge_inner .gauge_display {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #BF992E;
  animation: loading 8s linear 0s infinite normal;
}
.page-index .section-pickup {
  padding: 160px 0;
}
.page-index .section-plan-list {
  padding: 160px 0 80px;
  background: #fff;
}
.page-index .section-service {
  margin: 160px 0;
}
.page-index .section-service .section_inner {
  position: relative;
  background: #fff;
}
.page-index .section-service .section_inner::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background: #f9f6f3;
}
.page-index .section-service .section_inner .txt_wrap {
  width: 40%;
  position: relative;
  z-index: 10;
  padding: 80px;
}
.page-index .section-service .section_inner .txt_wrap .description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
.page-index .section-service .section_inner .txt_wrap .comp-link-button {
  margin-top: 30px;
}
.page-index .section-kagibito {
  margin: 160px 0 200px;
}
.page-index .section-kagibito .section_inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
}
.page-index .section-kagibito .section_inner::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: #f9f6f3;
}
.page-index .section-kagibito .section_inner .kagibito_img {
  width: 45%;
  position: absolute;
  left: 0;
  top: -40px;
  display: flex;
  flex-wrap: wrap;
}
.page-index .section-kagibito .section_inner .kagibito_img .img_box {
  width: 33%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-right: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}
.page-index .section-kagibito .section_inner .txt_wrap {
  width: 55%;
  margin-left: 45%;
  z-index: 10;
  padding: 80px;
  box-sizing: border-box;
}
.page-index .section-kagibito .section_inner .txt_wrap .description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
.page-index .section-kagibito .section_inner .txt_wrap .comp-link-button {
  margin-top: 30px;
}
.page-index .section-news {
  margin-bottom: 160px;
}
.page-index .section-footer-link {
  margin-bottom: 120px;
}

/*########## コンポーネント ##########*/
/* 共通パーツ */
.comp-link-button.right {
  text-align: right;
}
.comp-link-button a {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: inline-block;
  min-width: 120px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.58px;
  padding: 12px 30px;
  background: #4d4327;
  border-radius: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid #4d4327;
  transition: color 0.2s;
}
.comp-link-button a::before {
  display: block;
  content: "";
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  margin: auto;
  background: #fff;
  transition: width 0.2s;
}
.comp-link-button a span {
  position: relative;
  z-index: 10;
}
.comp-link-button a:hover {
  color: #4d4327;
}
.comp-link-button a:hover::before {
  width: calc(100% + 2px);
}

.comp-kagibito-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.comp-kagibito-wrap .icon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #BF992E;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;
}
.comp-kagibito-wrap .name {
  display: block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.81px;
  color: #363636;
}

.comp-section-title .upper_txt {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.9px;
  margin-bottom: 10px;
}
.comp-section-title .title {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 50px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
.comp-section-title.center {
  text-align: center;
}
.comp-section-title.margin {
  margin-bottom: 90px;
}
.comp-section-title.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.comp-section-sub-title {
  margin-bottom: 40px;
}
.comp-section-sub-title .title {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
.comp-section-sub-title .sub_ttl {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.53;
  letter-spacing: 1.93px;
}
.comp-section-sub-title .sub_ttl span {
  display: block;
}

.comp-kagibito-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.comp-kagibito-wrap .icon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #BF992E;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;
}
.comp-kagibito-wrap .name {
  display: block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.81px;
  color: #363636;
}

/* プラン一覧 */
.comp-plan-list {
  display: flex;
  flex-wrap: wrap;
}
.comp-plan-list .plan_item {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 80px;
}
.comp-plan-list .plan_item:nth-of-type(3n) {
  margin-right: 0;
}
.comp-plan-list .plan_item .img_wrap {
  margin-bottom: 25px;
}
.comp-plan-list .plan_item .img_wrap a {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 16vw;
  max-height: 275px;
}
.comp-plan-list .plan_item .img_wrap a img {
  transition: transform 0.7s, opacity 0.7s;
}
.comp-plan-list .plan_item .img_wrap a:hover img {
  opacity: 0.85;
  transform: scale(1.1);
}
.comp-plan-list .plan_item .txt_wrap .title_wrap a {
  display: block;
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 22px;
  line-height: 1.59;
  letter-spacing: 0.83px;
  color: inherit;
  margin-bottom: 20px;
  transition: opacity 0.3s;
}
.comp-plan-list .plan_item .txt_wrap .title_wrap a:hover {
  opacity: 0.75;
}
.comp-plan-list .plan_item .txt_wrap .title_wrap .location span {
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #464646;
  position: relative;
  padding: 5px 0;
}
.comp-plan-list .plan_item .txt_wrap .title_wrap .location span::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.comp-plan-list .plan_item .txt_wrap .title_wrap .location span.area {
  padding-left: 30px;
  padding-right: 15px;
  margin-right: 15px;
  position: relative;
}
.comp-plan-list .plan_item .txt_wrap .title_wrap .location span.area::before {
  width: 15px;
  height: 100%;
  background-size: 14px;
  background-image: url(../img/common/pin.svg);
}
.comp-plan-list .plan_item .txt_wrap .title_wrap .location span.area::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 14px;
  background: #363636;
}

/* ニュース一覧 */
.comp-news-list {
  display: flex;
  flex-wrap: wrap;
}
.comp-news-list .news_item {
  width: 30%;
  margin-right: 5%;
  background: #fff;
}
.comp-news-list .news_item .img_wrap a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 16.5vw;
  max-height: 290px;
}
.comp-news-list .news_item .img_wrap a img {
  transition: transform 0.7s, opacity 0.7s;
}
.comp-news-list .news_item .img_wrap a:hover img {
  opacity: 0.85;
  transform: scale(1.1);
}
.comp-news-list .news_item .txt_wrap {
  padding: 25px 20px;
  box-sizing: border-box;
}
.comp-news-list .news_item .txt_wrap .category {
  display: inline-block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #464646;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}
.comp-news-list .news_item .txt_wrap .category:hover {
  opacity: 0.75;
}
.comp-news-list .news_item .txt_wrap .name {
  display: block;
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.7px;
  color: inherit;
  margin-bottom: 0px;
  transition: opacity 0.3s;
}
.comp-news-list .news_item .txt_wrap .name:hover {
  opacity: 0.75;
}
.comp-news-list .news_item .txt_wrap .desc_wrap {
  display: none;
}
.comp-news-list .news_item:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 0;
  margin-bottom: 75px;
}
.comp-news-list .news_item:nth-of-type(1) .img_wrap {
  width: 50%;
}
.comp-news-list .news_item:nth-of-type(1) .img_wrap a {
  height: 24vw;
  max-height: 475px;
}
.comp-news-list .news_item:nth-of-type(1) .img_wrap a:hover img {
  transform: scale(1.05);
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap {
  width: 50%;
  box-sizing: border-box;
  padding: 0 50px;
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap .category {
  font-size: 16px;
  letter-spacing: 0.25px;
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap .name {
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap .desc_wrap {
  display: block;
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap .desc_wrap .description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
.comp-news-list .news_item:nth-of-type(1) .txt_wrap .desc_wrap .comp-link-button {
  margin-top: 30px;
}
.comp-news-list .news_item:nth-of-type(3n+4) {
  margin-right: 0;
}

/* トップページ */
.comp-main-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #242424;
  overflow: hidden;
}
.comp-main-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 2.5s, transform 6s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.comp-main-slider ul li img {
  opacity: 0;
}
.comp-main-slider ul li.display_slide {
  opacity: 1;
  transform: scale(1.06);
}

.comp-slider-txt {
  position: absolute;
  left: 60px;
  bottom: 60px;
  z-index: 50;
}
.comp-slider-txt .site_ttl {
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 65px;
  line-height: 1.54;
  letter-spacing: 8px;
  color: #fff;
  margin-bottom: 30px;
}
.comp-slider-txt .site_ttl span {
  display: block;
}
.comp-slider-txt .slide_txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.comp-slider-txt .slide_txt .number {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.33px;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.comp-slider-txt .slide_txt .number::after {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #fff;
}
.comp-slider-txt .slide_txt .txt {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #fff;
  margin-bottom: 3px;
}

.comp-pickup-plan .pickup_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.comp-pickup-plan .pickup_item:nth-of-type(2n+3) {
  flex-direction: row-reverse;
}
.comp-pickup-plan .pickup_item:nth-last-of-type(1) {
  margin-bottom: 0;
}
.comp-pickup-plan .pickup_item .img_wrap {
  width: 52%;
  transition: opacity 0.5s;
}
.comp-pickup-plan .pickup_item .img_wrap a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 28vw;
  max-height: 480px;
}
.comp-pickup-plan .pickup_item .img_wrap a img {
  transition: transform 0.5s, opacity 0.5s;
}
.comp-pickup-plan .pickup_item .img_wrap a:hover img {
  opacity: 0.85;
  transform: scale(1.05);
}
.comp-pickup-plan .pickup_item .img_wrap.slide_change {
  opacity: 0;
}
.comp-pickup-plan .pickup_item .txt_wrap {
  width: 43%;
}
.comp-pickup-plan .pickup_item .txt_wrap .title_wrap {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #BF992E;
}
.comp-pickup-plan .pickup_item .txt_wrap .title_wrap a {
  display: block;
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.44;
  line-height: 1.54;
  letter-spacing: 1.2px;
  color: inherit;
  margin-bottom: 15px;
  transition: opacity 0.3s;
}
.comp-pickup-plan .pickup_item .txt_wrap .title_wrap a:hover {
  opacity: 0.75;
}
.comp-pickup-plan .pickup_item .txt_wrap .location span {
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #464646;
  position: relative;
  padding: 5px 0;
}
.comp-pickup-plan .pickup_item .txt_wrap .location span::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.comp-pickup-plan .pickup_item .txt_wrap .location span.area {
  padding-left: 30px;
  margin-right: 20px;
}
.comp-pickup-plan .pickup_item .txt_wrap .location span.area::before {
  width: 15px;
  height: 100%;
  background-size: 14px;
  background-image: url(../img/common/pin.svg);
}
.comp-pickup-plan .pickup_item .txt_wrap .location span.guesthouse {
  padding-left: 30px;
}
.comp-pickup-plan .pickup_item .txt_wrap .location span.guesthouse::before {
  width: 17px;
  height: 100%;
  background-size: 17px;
  background-image: url(../img/common/guesthouse.svg);
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .icon {
  transition: opacity 0.3s;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #BF992E;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
  box-sizing: border-box;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .icon:hover {
  opacity: 0.75;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .kagibito_info {
  width: calc(100% - 90px);
  padding-bottom: 5px;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .kagibito_info .info {
  display: block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .kagibito_info .name {
  display: block;
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.16px;
  color: inherit;
  transition: opacity 0.3s;
}
.comp-pickup-plan .pickup_item .txt_wrap .desc_wrap .kagibito .kagibito_wrap .kagibito_info .name:hover {
  opacity: 0.75;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) {
  display: block;
  width: 80%;
  margin: 0 auto 140px;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .img_wrap {
  width: 100%;
  margin-bottom: 40px;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .img_wrap a {
  display: block;
  overflow: hidden;
  height: 43vw;
  max-height: 740px;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap {
  width: 100%;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter .img_box {
  width: 33.333333%;
  padding: 0 0 7px 7px;
  box-sizing: border-box;
  transition: opacity 0.3s;
  cursor: pointer;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter .img_box:hover {
  opacity: 0.75;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter .img_box img {
  border: 1px solid #f9f6f3;
  box-sizing: border-box;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter .img_box:nth-of-type(3n) {
  margin-right: 0;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap .slider_shifter .img_box.active_box img {
  border: 1px solid #BF992E;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap a {
  font-size: 32px;
  line-height: 1.44;
  letter-spacing: 2.46px;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .title_wrap a span {
  display: block;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .desc_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .desc_wrap p {
  width: 55%;
  margin-right: 5%;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .kagibito {
  display: block;
}
.comp-pickup-plan .pickup_item:nth-of-type(1) .txt_wrap .kagibito .comp-link-button {
  margin-top: 40px;
}

.comp-footer-link {
  display: flex;
  flex-wrap: wrap;
}
.comp-footer-link .link_item {
  width: 47.5%;
  margin-right: 5%;
}
.comp-footer-link .link_item:nth-last-of-type(1) {
  margin-right: 0;
}
.comp-footer-link .link_item a {
  display: block;
  position: relative;
}
.comp-footer-link .link_item a .img_wrap {
  display: block;
  overflow: hidden;
  width: 100%;
  max-height: 375px;
  height: 22vw;
}
.comp-footer-link .link_item a .img_wrap img {
  transition: transform 0.7s, opacity 0.7s;
}
.comp-footer-link .link_item a .img_wrap:hover img {
  opacity: 0.85;
  transform: scale(1.05);
}
.comp-footer-link .link_item a .txt_wrap {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px 20px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  color: #fff;
}
.comp-footer-link .link_item a .txt_wrap .small {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: block;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.73px;
  margin-bottom: 10px;
}
.comp-footer-link .link_item a .txt_wrap .large {
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  display: block;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1.2px;
}

.comp-service-slider {
  position: absolute;
  left: 43vw;
  top: 20px;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 480px;
  overflow: hidden;
}
.comp-service-slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 15px;
  padding: 5px 0;
  display: inline-block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 16px;
  color: #646464;
  text-indent: 0px;
}
.comp-service-slider .slick-arrow::after {
  display: inline-block;
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  font-size: 14px;
  color: #646464;
  text-indent: 0px;
}
.comp-service-slider .slick-arrow.slick-prev {
  left: 0;
  padding-left: 25px;
  background-position: center left;
  background-image: url(../img/common/caret_prev.svg);
}
.comp-service-slider .slick-arrow.slick-next {
  left: 100px;
  padding-right: 25px;
  background-position: center right;
  background-image: url(../img/common/caret_next.svg);
}
.comp-service-slider .slick-slider {
  /*position: absolute !important;*/
  width: 360px;
}
.comp-service-slider .slick-slider .item_box {
  display: block !important;
}
.comp-service-slider .slick-slider .item_box .slider_img {
  width: 360px;
  box-sizing: border-box;
  border-right: 3px solid #fff;
}
.comp-service-slider .slick-slider .item_box .slider_txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f1f1f1;
  border-right: 3px solid #fff;
}
.comp-service-slider .slick-slider .item_box .slider_txt .number {
  display: block;
  width: 80px;
  padding: 15px 0;
  text-align: center;
  border-right: 1px solid #acacac;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1;
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
}
.comp-service-slider .slick-slider .item_box .slider_txt .number span {
  font-family: "TsukuARdGothicStd-R";
  font-weight: normal;
  display: block;
  font-size: 30px;
  line-height: 1;
  margin-top: 10px;
}
.comp-service-slider .slick-slider .item_box .slider_txt .txt {
  width: calc(100% - 80px);
  font-family: "FOT-筑紫A丸ゴシック Std D";
  font-weight: bold;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.68px;
  color: #3f3f3f;
  padding: 0 15px;
  box-sizing: border-box;
}