@import '../mixin.scss';

.single-entry{
	.section_ttl{
		margin-bottom: 60px;
	}
	.section_in_section{
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid #d8d8d8;
		&:nth-last-of-type(1){
			margin-bottom: 0px;
			padding-bottom: 0px;
			border-bottom: 0px solid #d8d8d8;
		}
		.number_ttl{
			@include flexSet;
			align-items: center;
			margin-bottom: 30px;
			.num{
				display: block;
    		width: 40px;
    		height: 40px;
    		margin-right: 12px;
    		background: $pointYellow;
    		color: #fff;
    		border-radius: 50%;
				@include tsukushi-r;
    		font-size: 16px;
    		letter-spacing: 0.4px;
    		text-align: center;
    		line-height: 40px;
    		text-indent: 0.1em;
			}
			.text{
				width: calc(100% - 52px);
				@include tsukushi-b;
    		font-size: 20px;
    		line-height: 1.5;
    		letter-spacing: 0.05em;
			}
		}
		.quote_section{
			margin-bottom: 40px;
			.quote_ttl{
				font-size: 18px;
				@include tsukushi-b;
				letter-spacing: 0.05em;
				margin-bottom: 20px;
			}
			.quote_wrap{
				background: #fff;
				padding: 20px;
				font-size: 16px;
				letter-spacing: 0.5px;
				line-height: 1.8;
				.list_ul{
					font-size: 14px;
					color: #464646;
					margin: 10px 0;
					li{
						position: relative;
						padding-left: 15px;
						&::before{
							display: block;
							content: "";
							width: 4px;
							height: 4px;
							position: absolute;
							left: 0;
							top: 12px;
							margin: auto;
							background: #464646;
							border-radius: 50%;
						}
					}
				}
				.small{
					font-size: 14px;
					color: #646464;
				}
			}
		}
		.button_section{
			margin-top: 80px;
			.button_wrap{
				max-width: 400px;
				margin: 0 auto;
				a{
					display: block;
    			width: 100%;
    			padding: 15px 0;
					text-align: center;
    			background-color: $pointYellow !important;
    			color: #fff !important;
					@include tsukushi-b;
    			font-size: 20px;
    			line-height: 1;
    			letter-spacing: 0.03em;
    			border-radius: 100px;
					@include hover;
    			cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 740px){
	.single-entry{
		.section_ttl{
			font-size: 20px !important;
			margin-bottom: 40px !important;
		}
		.section_in_section{
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #d8d8d8;
			&:nth-last-of-type(1){
				margin-bottom: 0px;
				padding-bottom: 0px;
				border-bottom: 0px solid #d8d8d8;
			}
			.number_ttl{
				@include flexSet;
				align-items: center;
				margin-bottom: 25px;
				.num{
	    		width: 35px;
	    		height: 35px;
	    		margin-right: 12px;
	    		font-size: 14px;
	    		line-height: 37px;
					text-indent: 0.2em;
				}
				.text{
					width: calc(100% - 47px);
	    		font-size: 4.2vw;
	    		line-height: 1.5;
	    		letter-spacing: 0.05em;
				}
			}
			.quote_section{
				margin-bottom: 40px;
				.quote_ttl{
					font-size: 18px;
					@include tsukushi-b;
					letter-spacing: 0.05em;
					margin-bottom: 20px;
				}
				.quote_wrap{
					padding: 20px;
					font-size: 14px;
					.list_ul{
						font-size: 14px;
						color: #464646;
						margin: 10px 0;
						li{
							position: relative;
							padding-left: 15px;
							&::before{
								display: block;
								content: "";
								width: 4px;
								height: 4px;
								position: absolute;
								left: 0;
								top: 12px;
								margin: auto;
								background: #464646;
								border-radius: 50%;
							}
						}
					}
					.small{
						font-size: 12px;
						color: #646464;
					}
				}
			}
			.button_section{
				margin-top: 40px;
				.section_ttl{
					font-size: 4.2vw !important;
					margin-bottom: 20px !important;
				}
				.button_wrap{
					max-width: 100%;
					margin: 0 auto;
					a{
	    			padding: 15px 0;
	    			font-size: 18px;
					}
				}
			}
		}
	}
}
