.comp-block-ttl{
  @include flexSet;
  align-items: center;
  background-color: #3f3f3f;
  color: #fff;
  @include tsukushi-b;
  margin-bottom: 60px;
  .num{
    width: 70px;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #fff;
    box-sizing: border-box;
  }
  .title{
    width: calc(100% - 70px);
    font-size: 22px;
    line-height: 1.38;
    letter-spacing: 1px;
    padding: 0px 15px;
    box-sizing: border-box;
    color: #fff;
  }
}

@media screen and (max-width: 980px){
  .comp-block-ttl{
    margin-bottom: 40px;
    padding: 15px 15px;
    .num{
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 50%;
      line-height: 60px;
      text-align: center;
      color: $black02;
      font-size: 22px;
      letter-spacing: 1px;
      padding: 0;
      border-right: 0px solid #fff;
      text-indent: 0.2em;
      margin-right: 20px;
    }
    .title{
      width: calc(100% - 80px);
      font-size: 26px;
      line-height: 1.38;
      padding: 0;
    }
  }
}

@media screen and (max-width: 700px){
  .comp-block-ttl{
    margin-bottom: 30px;
    padding: 15px 15px;
    .num{
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      letter-spacing: 1px;
      text-indent: 0.2em;
      margin-right: 15px;
    }
    .title{
      width: calc(100% - 75px);
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
