.comp-footer-link{
  @include flexSet;
  .link_item{
    width: 47.5%;
    margin-right: 5%;
    &:nth-last-of-type(1){
      margin-right: 0;
    }
    a{
      display: block;
      position: relative;
      .img_wrap{
        display: block;
        overflow: hidden;
        width: 100%;
        max-height: 375px;
        height: 22vw;
        img{
          transition: transform .7s, opacity .7s;
        }
        &:hover{
          img{
            opacity: 0.85;
            transform: scale(1.1);
          }
        }
      }
      .txt_wrap{
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        padding: 25px 20px;
        box-sizing: border-box;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        color: #fff;
        .small{
          @include tsukushi-b;
          display: block;
          font-size: 14px;
          line-height: normal;
          letter-spacing: 0.73px;
          margin-bottom: 10px;
        }
        .large{
          @include tsukushi-b;
          display: block;
          font-size: 22px;
          line-height: 1;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}
