.comp-spot-list{
  .spot_inner{
    overflow: hidden;
    border-radius: 15px;
    background-color: #fff;
    padding: 50px;
    .spot_ttl{
      @include flexSet;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px;
      .icon{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @include bgSet;
        border: 1px solid $pointYellow;
        margin-right: 15px;
        box-sizing: border-box;
      }
      .title{
        font-size: 26px;
        letter-spacing: 0.03em;
        @include tsukushi-b;
      }
    }
    .slick-slider{
      .item_box{
        .img_wrap{
          margin-bottom: 15px;
        }
        .txt_wrap{
          .title_wrap{
            @include flexSet;
            align-items: center;
            background-color: #f4f4f4;
            position: relative;
            margin-bottom: 20px;
            &::after{
              display: block;
              content: "";
              position: absolute;
              width: 50px;
              height: 100%;
              top:0;
              bottom:0;
              left:0;
              margin: auto;
              background: $black01;
            }
            .num{
              position: relative;
              z-index: 10;
              width: 50px;
              text-align: center;
              color: #fff;
              @include tsukushi-b;
              font-size: 20px;
              line-height: normal;
              letter-spacing: 0.03em;
            }
            .spot_name{
              width: calc(100% - 50px);
              padding: 10px 15px;
              box-sizing: border-box;
              font-size: 20px;
              line-height: 1.6;
              letter-spacing: 0.03em;
              @include tsukushi-b;
            }
          }
          .description{
            @include basicP;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .comp-spot-list{
    .spot_inner{
      padding: 40px;
      .slick-slider{
        .item_box{
          display: flex !important;
          width: 100%;
          @include flexSet;
          .img_wrap{
            width: 250px;
            margin-right: 30px;
            margin-bottom: 0px;
          }
          .txt_wrap{
            width: calc(100% - 280px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px){
  .comp-spot-list{
    .spot_inner{
      padding: 60px 7vw;
      box-sizing: border-box;
      width: 100vw;
      margin-left: -7vw;
      border-radius: 0;
      .spot_ttl{
        margin-bottom: 45px;
        .icon{
          display: block;
          width: 50px;
          height: 50px;
          margin-right: 15px;
        }
        .title{
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-spot-list{
    .spot_inner{
      margin-left: -6vw;
      margin-right: -6vw;
      padding: 60px 0vw 30px;
      .spot_ttl{
        display: block;
        margin-bottom: 45px;
        text-align: center;
        .icon{
          display: block;
          width: 60px;
          height: 60px;
          margin: 0 auto 15px;
        }
        .title{
          font-size: 4.5vw;
        }
      }
      .slick-slider{
        .item_box{
          display: block !important;
          padding: 0 12px;
          margin-bottom: 0;
          .img_wrap{
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
          }
          .txt_wrap{
            width: 100%;
            .title_wrap{
              margin-bottom: 10px;
              &::after{
                display: block;
                content: "";
                position: absolute;
                width: 50px;
                height: 100%;
                top:0;
                bottom:0;
                left:0;
                margin: auto;
                background: $black01;
              }
              .num{
                width: 50px;
                font-size: 16px;
              }
              .spot_name{
                width: calc(100% - 50px);
                padding: 10px 15px;
                font-size: 16px;
              }
            }
            .description{
              @include basicP;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px){
	.comp-spot-list {
		.slick-dots{
			display: none !important;
		}
		.slick-list{
			padding: 0 !important;
			width: 100% !important;
			.slick-track{
				@include waku;
				width: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
				.slick-slide{
					width: 31% !important;
          margin-right: 3.5%;
          &:nth-last-of-type(1){
            margin-right: 0;
          }
				}
			}
		}
	}
}
@media screen and (min-width: 720px) and (max-width: 1199px){
	.comp-spot-list {
		.slick-dots{
			display: none !important;
		}
		.slick-list{
			padding: 0 !important;
			width: 100% !important;
			.slick-track{
				@include waku;
				width: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
				.slick-slide{
					width: 100% !important;
          margin-right: 0%;
          margin-bottom: 60px;
          &:nth-last-of-type(1){
            margin-right: 0;
            margin-bottom: 0;
          }
				}
			}
		}
	}
}
@media screen and (max-width: 720px){
	.comp-spot-list {
		.slick-dots{
			display: none !important;
		}
    .slick-arrow{
      display: none !important;
    }
		.slick-list{
			.slick-track{
				.slick-slide{
          margin-right: 0%;
          margin-bottom: 40px;
          &:nth-last-of-type(1){
            margin-right: 0;
            margin-bottom: 0;
          }
				}
			}
		}
	}
}
