.comp-plan-detail-flex{
  .detail_item{
    @include flexSet;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    &:nth-of-type(2n), .reverse{
      flex-direction: row-reverse;
    }
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .img_wrap{
      width: 47%;
    }
    .txt_wrap{
      width: 47%;
      .title_wrap{
        margin-bottom: 20px;
        .mini_ttl{
          display: inline-block;
          background-color: $black02;
          color: #fff;
          font-size: 16px;
          letter-spacing: 0.5px;
          @include tsukushi-b;
          padding: 10px 10px;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        .detail_ttl{
          @include tsukushi-b;
          font-size: 26px;
          line-height: 1.66;
          letter-spacing: 0.03em;
        }
      }
      .description{
        @include basicP;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .comp-plan-detail-flex{
    .detail_item{
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 980px){
  .comp-plan-detail-flex{
    .detail_item{
      display: block;
      margin-bottom:80px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 100%;
        margin-bottom: 30px;
      }
      .txt_wrap{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-plan-detail-flex{
    .detail_item{
      display: block;
      margin-bottom: 40px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 100%;
      }
      .txt_wrap{
        width: 100%;
        .title_wrap{
          margin-bottom: 20px;
          .mini_ttl{
            font-size: 12px;
            padding: 10px 10px;
            margin-bottom: 15px;
          }
          .detail_ttl{
            font-size: 5.5vw;
            line-height: 1.7;
          }
        }
        .description{
          @include basicP;
          font-size: 14px;
        }
      }
    }
  }
}
