.comp-trip-review{
  margin-bottom: 60px;
  .review_item{
    @include flexSet;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .icon{
      @include hover;
      width: 70px;
      height: 70px;
      margin-right: 20px;
      border-radius: 50%;
      @include bgSet;
    }
    .review_content{
      width: calc(100% - 90px);
      padding-top: 5px;
      .user_name{
        @include hover;
        @include tsukushi-b;
        color: inherit;
        font-size: 18px;
        letter-spacing: 0.03em;
        .icon{
          display: none;
        }
      }
      .review{
        margin-top: 10px;
        @include basicP;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-trip-review{
    margin-bottom: 50px;
    .review_item{
      display: block;
      padding: 20px;
      .icon{
        display: none;
      }
      .review_content{
        width: 100%;
        padding-top: 0px;
        .user_name{
          @include flexSet;
          align-items: center;
          font-size: 18px;
          letter-spacing: 0.03em;
          .icon{
            display: block;
            @include hover;
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 50%;
            @include bgSet;
          }
          .name{
            width: calc(100% - 65px);
          }
        }
        .review{
          margin-top: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
