.comp-section-title{
  .upper_txt{
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
  }
  .title{
    @include tsukushi-b;
    font-size: 50px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    text-indent: -0.15em;
  }
  .description{
    margin-top: 20px;
    @include basicP;
    span{
      display: block;
    }
  }
  &.center{
    text-align: center;
    .title{
      text-indent: 0em;
    }
  }
  &.margin{
    margin-bottom: 90px;
  }
  &.button{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
  }
}
