.comp-time-shcedule{
  margin-bottom: 80px;
  .day_shifter{
    @include flexSet;
    position: relative;
    margin-bottom: 25px;
    &::before{
      display: block;
      content: "";
      position: absolute;
      z-index: 10;
      top: 0px;
      bottom: 0px;
      left: 0;
      right:0;
      margin: auto;
      background: #fff;
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
    &::after{
      display: block;
      content: "";
      position: absolute;
      z-index: 20;
      top: 1px;
      bottom: 1px;
      left: 0;
      background: $black01;
      border-radius: 5px;
      width: 33.333333%;
      height: calc(100% - 2px);
      transition: left 0.2s;
    }
    button{
      position: relative;
      z-index: 30;
      width: 33.333333%;
      @include tsukushi-b;
      font-size: 16px;
      padding: 7px 0 9px;
      letter-spacing: 0.03em;
      text-align: center;
      border: 1px solid #d8d8d8;
      margin: 0;
      transition: opacity 0.3s;
      cursor: pointer;
      &:nth-of-type(1){
        border-radius: 5px 0 0 5px;
        border-right: 0;
        color: #fff;
      }
      &:nth-last-of-type(1){
        border-left: 0;
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .shcedule_wrap{
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    .schedule_inner{
      position: relative;
      &::before{
        display: block;
        content: "";
        width: 1px;
        height: 100%;
        border-left: 1px dotted $pointYellow;
        position: absolute;
        top: 15px;
        left: 0px;
      }
      }
      .schedule_item{
        padding-left: 30px;
        margin-bottom: 30px;
        position: relative;
        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
        &::before{
          display: block;
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: $pointYellow;
          border-radius: 50%;
          left: -7px;
          top: 15px;
        }
        .title_wrap{
          @include flexSet;
          align-items: center;
          @include tsukushi-b;
          .time{
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0.44px;
            color: #646464;
            margin-right: 1em;
          }
          .title{
            font-size: 22px;
            line-height: normal;
            letter-spacing: 0.03em;
          }
        }
        .description{
          @include basicP;
          font-size: 14px;
        }
      }
      .yahoku_item{
        text-align: center;
        margin-bottom: 30px;
        .yohaku_txt{
          @include tsukushi-b;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.03em;
        }
      }
    }
  }
