.comp-kagibito-wrap{
  @include flexSet;
  align-items: center;
  margin-bottom: 15px;
  .icon{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $pointYellow;
    @include bgSet;
    margin-right: 10px;
  }
  .name{
    display: block;
    @include tsukushi-r;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.81px;
    color: #363636;
  }
}
