.comp-booking-button{
  button{
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: $pointYellow !important;
    color: #fff !important;
    @include tsukushi-b;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #aaaaaa;
    @include hover;
    cursor: pointer;
  }
}

@media screen and (max-width: 720px){
  .comp-booking-button{
    button{
      padding: 15px 0;
      font-size: 16px;
      line-height: 1;
    }
  }
}
