.comp-guesthouse-detail{
  position: absolute;
  left: 45vw;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 100vw;
  overflow: hidden;
  .slick-arrow{
    position: absolute;
    bottom: -50px;
    @include bgSet;
    background-size: 15px;
    padding: 5px 0;
    display: inline-block;
    @include tsukushi-r;
    font-size: 16px;
    color: #646464;
    text-indent: 0px;
    background-color: transparent !important;
    &::after{
      display: inline-block;
      @include tsukushi-r;
      font-size: 14px;
      color: #646464;
      text-indent: 0px;
    }
    &.slick-prev{
      left:0;
      padding-left: 25px;
      background-position: center left;
      background-image: url(../img/common/caret_prev.svg);
    }
    &.slick-next{
      left: 100px;
      padding-right: 25px;
      background-position: center right;
      background-image: url(../img/common/caret_next.svg);
    }
  }
  .slick-slider{
    width: 500px;
    min-height: 310px;
    margin-bottom: 80px;
    .item_box{
      display: block !important;
      .slider_img{
        width: 500px;
        box-sizing: border-box;
        border-right: 15px solid #fff;
      }
    }
  }
  .yado_detail_txt{
    width: 45vw;
    .yado_detail_ttl{
      @include tsukushi-b;
      font-size: 22px;
      line-height: normal;
      letter-spacing: 0.03em;
      color: #363636;
      margin-bottom: 10px;
    }
    .description{
      @include basicP;
    }
  }
}

@media screen and (max-width: 1200px){
  .comp-guesthouse-detail{
    .slick-slider{
      width: 450px;
      margin-bottom: 60px;
      .item_box{
        .slider_img{
          width: 450px;
        }
      }
    }
  }
}

@media screen and (max-width: 980px){
  .comp-guesthouse-detail{
    position: static;
    height: auto !important;
    width: 100vw;
    overflow: visible;
    margin-left: -7vw;
    .slick-arrow{
      display: none !important;
    }
    .slick-slider{
      width: 70vw;
      min-height: unset;
      margin: 0 auto 30px;
      .item_box{
        display: block !important;
        .slider_img{
          width: 70vw;
          box-sizing: border-box;
          border-right: 15px solid #fff;
        }
      }
    }
    .yado_detail_txt{
      width: 100%;
      padding: 0 7vw;
      box-sizing: border-box;
      margin-bottom: 40px;
      .yado_detail_ttl{
        margin-bottom: 15px;
      }
    }
  }
}
@media screen and (max-width: 980px){
  .comp-guesthouse-detail{
    margin-left: -6vw;
    .slick-slider{
      width: 86vw;
      margin: 0 auto 30px;
      .item_box{
        display: block !important;
        .slider_img{
          width: 86vw;
          border-right: 15px solid #fff;
        }
      }
    }
    .yado_detail_txt{
      padding: 0 6vw;
      margin-bottom: 30px;
      .yado_detail_ttl{
        margin-bottom: 15px;
        font-size: 5.5vw;
      }
      .description{
        font-size: 14px;
      }
    }
  }
}
