.comp-character-wrap{
  @include flexSet;
  .item_box{
    padding: 15px 15px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background: #fff;
    min-height: 520px;
    .img_wrap{
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 25px;
    }
    .txt_wrap{
      .title_wrap{
        text-align: center;
        letter-spacing: 0.03em;
        @include tsukushi-b;
        margin-bottom: 15px;
        .name{
          font-size: 26px;
          line-height: 1;
          margin-bottom: 5px;
        }
        .name_added{
          display: block;
          font-size: 16px;
          line-height: normal;
          color: #646464;
        }
      }
      .description{
        @include basicP;
        font-size: 14px;
        padding: 0 5px;
      }
    }
  }
}


@media screen and (min-width: 980px){
	.comp-character-wrap {
		.slick-dots{
			display: none !important;
		}
		.slick-list{
			padding: 0 !important;
			width: 100% !important;
			.slick-track{
				@include waku;
				width: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
				.slick-slide{
					width: 31% !important;
          margin-right: 3.5%;
          &:nth-last-of-type(1){
            margin-right: 0;
          }
				}
			}
		}
	}
}
@media screen and (min-width: 720px) and (max-width: 979px){
	.comp-character-wrap {
		.slick-dots{
			display: none !important;
		}
		.slick-list{
			padding: 0 !important;
			width: 100% !important;
			.slick-track{
				@include waku;
				width: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
				.slick-slide{
					width: 100% !important;
          margin-right: 0%;
          margin-bottom: 60px;
          &:nth-last-of-type(1){
            margin-right: 0;
            margin-bottom: 0;
          }
				}
			}
		}
	}
}
@media screen and (max-width: 720px){
	.comp-character-wrap {
		.slick-dots{
			display: none !important;
		}
    .slick-arrow{
      display: none !important;
    }
		.slick-list{
			.slick-track{
				.slick-slide{
          margin-right: 0%;
          margin-bottom: 40px;
          &:nth-last-of-type(1){
            margin-right: 0;
            margin-bottom: 0;
          }
				}
			}
		}
	}
}
