.comp-pickup-plan{
  .pickup_item{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    &:nth-of-type(2n+3){
      flex-direction: row-reverse;
    }
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .img_wrap{
      width: 52%;
      transition: opacity .5s;
      a{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 28vw;
        max-height: 480px;
        img{
          transition: transform .5s, opacity .5s;
        }
        &:hover{
          img{
            opacity: 1;
            transform: scale(1.05);
          }
        }
      }
      &.slide_change{
        opacity: 0;
      }
    }
    .txt_wrap{
      width: 43%;
      .title_wrap{
        margin-bottom: 30px;
        a{
          display: block;
          @include tsukushi-b;
          font-size: 26px;
          line-height: 1.44;
          line-height: 1.54;
          letter-spacing: 1.2px;
          color: inherit;
          margin-bottom: 25px;
          @include hover;
        }
      }
      .location{
        span{
          @include tsukushi-r;
          font-size: 16px;
          line-height: normal;
          color: #464646;
          position: relative;
          padding: 5px 0;
          &::before{
            display: block;
            content: "";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            margin: auto;
            @include bgSet;
          }
          &.area{
            padding-left: 30px;
            margin-right: 20px;
            &::before{
              width: 15px;
              height: 100%;
              background-size: 14px;
              background-image: url(../img/common/pin.svg);
            }
          }
          &.guesthouse{
            padding-left: 30px;
            &::before{
              width: 17px;
              height: 100%;
              background-size: 17px;
              background-image: url(../img/common/guesthouse.svg);
            }
          }
        }
      }
      .desc_wrap{
        p{
          @include basicP;
          margin-bottom: 30px;
        }
        .kagibito{
          @include flexSet;
          justify-content: space-between;
          align-items: center;
          .kagibito_wrap{
            @include flexSet;
            align-items: center;
            .icon{
              @include hover;
              display: block;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              border: 1px solid $pointYellow;
              @include bgSet;
              margin-right: 20px;
              box-sizing: border-box;
            }
            .kagibito_info{
              width: calc(100% - 90px);
              padding-bottom: 5px;
              .info{
                display: block;
                @include tsukushi-r;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.8px;
                margin-bottom: 5px;
              }
              .name{
                display: block;
                @include tsukushi-b;
                font-size: 20px;
                letter-spacing: 1.16px;
                color: inherit;
                @include hover;
              }
            }
          }
        }
      }
    }
    &:nth-of-type(1){
      display: block;
      width: 80%;
      margin: 0 auto 140px;
      .img_wrap{
        width: 100%;
        margin-bottom: 40px;
        a{
          display: block;
          overflow: hidden;
          height: 42vw;
          max-height: 720px;
        }
      }
      .txt_wrap{
        width: 100%;

        .title_wrap{
          @include flexSet;
          justify-content: space-between;
          align-items: center;
          .title_txt{
            width: 60%;
          }
          .slider_shifter{
            @include flexSet;
            width: 330px;
            .img_box{
              width: 33.333333%;
              padding: 0 0 7px 7px;
              box-sizing: border-box;
              @include hover;
              cursor: pointer;
              img{
                border: 1px solid #f9f6f3;
                box-sizing: border-box;
              }
              &:nth-of-type(3n){
                margin-right: 0;
              }
              &.active_box{
                img{
                  border: 1px solid $pointYellow;
                }
              }
            }
          }
          a{
            display: block;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.44;
            letter-spacing: 2.46px;
            span{
              display: block;
            }
          }
        }
        .desc_wrap{
          @include flexSet;
          justify-content: space-between;
          margin-bottom: 0;
          p{
            width: 55%;
            margin-right: 5%;
          }
        }
        .kagibito{
          display: block;
          .comp-link-button{
            margin-top: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .comp-pickup-plan{
    .pickup_item{
      align-items: flex-start;
      margin-bottom: 120px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 43%;
        transition: opacity .5s;
        a{
          display: block;
          overflow: hidden;
          width: 100%;
          height: 28vw;
          max-height: 480px;
          img{
            transition: transform .5s, opacity .5s;
          }
          &:hover{
            img{
              opacity: 0.85;
              transform: scale(1.05);
            }
          }
        }
        &.slide_change{
          opacity: 0;
        }
      }
      .txt_wrap{
        width: 50%;
        .title_wrap{
        }
        .desc_wrap{
          .kagibito{
            .kagibito_wrap{
              .icon{
                width: 50px;
                height: 50px;
                margin-right: 15px;
              }
              .kagibito_info{
                width: calc(100% - 65px);
                padding-bottom: 5px;
                .info{
                  font-size: 12px;
                  letter-spacing: 0.5px;
                  margin-bottom: 5px;
                }
                .name{
                  font-size: 18px;
                  letter-spacing: 1px;
                }
              }
            }
          }
        }
      }
      &:nth-of-type(1){
        display: block;
        width: 100%;
        margin: 0 auto 120px;
        .img_wrap{
          width: 100%;
          margin-bottom: 40px;
          a{
            display: block;
            overflow: hidden;
            height: 43vw;
            max-height: 740px;
          }
        }
        .txt_wrap{
          width: 100%;

          .title_wrap{
            @include flexSet;
            justify-content: space-between;
            align-items: center;
            .title_txt{

              a{
                font-size: 26px;
                line-height: 1.5;
                letter-spacing: 1.8px;
                span{
                  display: inline;
                }
              }
            }
            .slider_shifter{
              width: 300px;
            }
          }
        }
      }
      &:nth-of-type(n+2){
        width: 100%;
        .img_wrap{
          a{
            display: block;
            overflow: hidden;
            height: 43vw;
            max-height: unset;
            @include bgSet;
            img{
              display: none;
            }
          }
        }
        .txt_wrap{

          .title_wrap{
            @include flexSet;
            justify-content: space-between;
            align-items: center;
            .slider_shifter{
              width: 300px;
            }
            .title_txt{
              width: calc(100% - 350px);
            }
            a{
              font-size: 26px;
              line-height: 1.5;
              letter-spacing: 1.8px;
              span{
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  .comp-pickup-plan{
    .pickup_item{
      align-items: flex-start;
      margin-bottom: 80px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 100%;
      }
      .txt_wrap{
        width: 100%;
        .title_wrap{
        }
        .desc_wrap{
          .kagibito{
            .kagibito_wrap{
              .icon{
                width: 50px;
                height: 50px;
                margin-right: 15px;
              }
              .kagibito_info{
                width: calc(100% - 65px);
                padding-bottom: 5px;
                .info{
                  font-size: 12px;
                  letter-spacing: 0.5px;
                  margin-bottom: 5px;
                }
                .name{
                  font-size: 18px;
                  letter-spacing: 1px;
                }
              }
            }
          }
        }
      }
      &:nth-of-type(1){
        display: block;
        width: 100%;
        margin: 0 auto 80px;
        .img_wrap{
          width: 100%;
          margin-bottom: 30px;
          a{
            display: block;
            overflow: hidden;
            height: 56vw;
            max-height: unset;
          }
        }
        .txt_wrap{
          width: 100%;

          .title_wrap{
            @include flexSet;
            justify-content: flex-start;
            align-items: center;
            .slider_shifter{
              width: 100%;
              margin-top: 30px;
              .img_box{
                width: 100px;
                padding: 0 0 5px 5px;
              }
            }
            .title_txt{
              width: 100%;
            }
            a{
              font-size: 26px;
              line-height: 1.5;
              letter-spacing: 1.8px;
              span{
                display: inline;
              }
            }
          }
          .desc_wrap{
            display: block;
            p{
              width: 100%;
            }
            .kagibito{
              @include flexSet;
              .comp-link-button{
                margin-top: 0;
              }
            }
          }
        }
      }
      &:nth-of-type(n+2){
        width: 100%;
        .img_wrap{
          margin-bottom: 30px;
          a{
            display: block;
            overflow: hidden;
            height: 56vw;
            max-height: unset;
            img{
              display: block;
            }
          }
        }
        .txt_wrap{
          .title_wrap{
            display: block;
            .title_txt{
              width: 100%;
            }
            a{
              span{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-pickup-plan{
    .pickup_item{
      align-items: flex-start;
      margin-bottom: 60px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 100%;
      }
      .txt_wrap{
        width: 100%;
        .title_wrap{
          margin-bottom: 20px;
        }
        .location{
          span{
            font-size: 14px;
            &::before{
              display: block;
            }
            &.area{
              padding-left: 20px;
              margin-right: 0px;
              &::before{
                width: 14px;
              }
            }
            &.guesthouse{
              display: none;
            }
          }
        }
        .desc_wrap{
          p{
            font-size: 14px;
          }
          .kagibito{
            display: block !important;
            .kagibito_wrap{
              display: none;
            }
            .comp-link-button{
              a{
                display: block;
                width: 100%;
                max-width: 100%;
                text-align: center;
                padding: 15px 0;
              }
            }
          }
        }
      }
      &:nth-of-type(1){
        display: block;
        width: 100%;
        margin: 0 auto 80px;
        .img_wrap{
          width: 100%;
          margin-bottom: 20px;
          a{
            height: 100vw;
            max-height: unset;
            @include bgSet;
            img{
              display: none;
            }
          }
        }
        .txt_wrap{
          width: 100%;

          .title_wrap{
            display: block;
            .slider_shifter{
              display: none;
            }
            .title_txt{
              width: 100%;
            }
            a{
              font-size: 5.4vw;
              letter-spacing: 0.05em;
              span{
                display: inline;
              }
            }
          }
          .desc_wrap{
            display: block;
            p{
              width: 100%;
            }
            .kagibito{
              @include flexSet;
              .comp-link-button{
                margin-top: 0;
              }
            }
          }
        }
      }
      &:nth-of-type(n+2){
        width: 100%;
        .img_wrap{
          margin-bottom: 20px;
          a{
            display: block;
            overflow: hidden;
            height: 100vw;
            max-height: unset;
            img{
              display: none;
            }
          }
        }
        .txt_wrap{
          .title_wrap{
            display: block;
            .title_txt{
              width: 100%;
            }
            a{
              font-size: 5.4vw;
              letter-spacing: 0.05em;
              span{
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
