.comp-section-title{
  .upper_txt{
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
  }
  .title{
    @include tsukushi-b;
    font-size: 50px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    text-indent: -0.15em;
    @media screen and (max-width: 1200px){
      font-size: 44px;
    }
  }
  .description{
    margin-top: 20px;
    @include basicP;
    span{
      display: block;
    }
  }
  &.center{
    text-align: center;
    .title{
      text-indent: 0em;
    }
  }
  &.margin{
    margin-bottom: 90px;
  }
  &.button{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 700px){
  .comp-section-title{
    .upper_txt{
      font-size: 14px;
      letter-spacing: 0.75px;
      margin-bottom: 5px;
    }
    .title{
      @include tsukushi-b;
      font-size: 30px;
      line-height: 1.6;
      letter-spacing: 0.05em;;
    }
    .description{
      margin-top: 20px;
      @include basicP;
      span{
        display: inline;
      }
    }
    &.center{
      text-align: center;
      .title{
        text-indent: 0em;
      }
    }
    &.margin{
      margin-bottom: 40px;
    }
    &.button{
      display: block;
      .comp-link-button{
        display: none;
      }
    }
  }
}
