.comp-underpage-lead{
  padding-top: 200px;
  .page_ttl{
    @include tsukushi-b;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2.55px;
    color: $black02;
    margin-bottom: 20px;
  }
  .sub_ttl{
    @include tsukushi-b;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 1.43px;
    color: #3f3f3f;
    margin-bottom: 25px;
  }
  .description{
    @include basicP;
    color: #3f3f3f;
    span{
      display: block;
    }
  }
}
@media screen and (max-width: 1200px){
  .comp-underpage-lead{
    padding-top: 160px;
  }
}

@media screen and (max-width: 700px){
  .comp-underpage-lead{
    padding-top: 100px;
    .page_ttl{
      font-size: 28px;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    .sub_ttl{
      font-size: 18px;
      letter-spacing: 1.4px;
      margin-bottom: 20px;
    }
    .description{
      font-size: 14px;
      span{
        display: inline;
      }
    }
  }
}
