.comp-fixed-header{
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0 rgba(6, 0, 1, 0.05);
  z-index: 100;
  opacity: 0;
  transition: transform .3s cubic-bezier(0.5, 1, 0.89, 1), opacity .3s cubic-bezier(0.5, 1, 0.89, 1);
  background-image: none;
  transform: translate3d(0, -100%, 0);
  &.rolled{
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
  .header_inner{
    @include flexSet;
    justify-content: space-between;
    .header_left{
      @include flexSet;
      align-items: center;
      .h_logo{
        height: 100px;
        &::after{
          background: $black01;
        }
        .logo_link{
          width: 120px;
          height: 100px;
          background-size: 60px;
          background-image: url(../img/common/logo.svg);
        }
      }
      .h_nav{
        ul{
          li{
            a{
              color: $black01;
            }
          }
        }
      }
    }
    .header_right{
      .count_contents{
        .count_item{
          &.line{
            &::after{
              background: $black01;
            }
          }
          a{
            color: $black01;
          }
          .content{
            span{
              &::after{
                border-top: 1px solid $black01 !important;
                border-right: 1px solid $black01 !important;
              }
            }
          }
        }
      }
      .box_contents{
        .box_item{
          width: 100px;
          height: 100px;
          line-height: 150px;
          &.cart{
            background-size: 25px;
            background-position: center top 30px;
            background-image: url(../img/common/calendar_white.svg);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .comp-fixed-header{
    .header_inner{
      .header_left{
        .h_logo{
          height: 100px;
          margin-right: 25px;
          a{
            width: 120px;
            height: 100px;
            background-size: 60px;
          }
        }
        .h_nav{
          ul{
            li{
              a{
                font-size: 14px;
              }
            }
          }
        }
      }
      .header_right{
        .count_contents{
          .count_item{
            a{
              padding: 0 25px;
              .number{
                .num{
                  font-size: 28px;
                }
              }
              .content{
                font-size: 14px;
              }
            }
          }
        }
        .box_contents{
          .box_item{
            width: 100px;
            height: 100px;
            font-size: 10px;
            line-height: 150px;
            &.mypage{
              background-position: center top 30px;
            }
            &.cart{
              background-position: left 32px top 28px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  .comp-fixed-header{
    .header_inner{
      display: block;
      .header_left{
        .h_logo{
          width: 100%;
          @include flexSet;
          justify-content: space-between;
          align-items: center;
          position: relative;
          height: 100px;
          margin-right: 0px;
          .logo_link{
            display: block;
            width: 70px;
            height: 100px;
            @include bgSet;
            background-size: 60px;
          }
          .hum_button{
            button{
              background-image: url(../img/common/menu_button.svg);
            }
          }
          .header_cart{
            a{
              background-image: url(../img/common/mypage.svg);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px){
  .comp-fixed-header{
    .header_inner{
      display: block;
      .header_left{
        .h_logo{
          height: 70px;
          margin-right: 0px;
          .logo_link{
            display: block;
            width: 70px;
            height: 70px;
            @include bgSet;
            background-size: 45px;
          }
          .hum_button{
            width: 60px;
            height: 60px;
            display: block;
            position: relative;
            button{
              background-size: 25px;
            }
          }
          .header_cart{
            width: 60px;
            height: 60px;
            a{
              width: 100%;
              height: 100%;
              background-size: 25px;
            }
          }
        }
      }
    }
  }
}
