.comp-time-shcedule{
  position: relative;
  margin-bottom: 100px;
  &::before{
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    bottom:0;
    left:5px;
    margin: auto;
    width: 1px;
    height: 100%;
    border-left: 1px dotted #979797;
  }
  .title_box{
    position: relative;
    z-index: 10;
    padding-left: 35px;
    margin-bottom: 20px;
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      top: 15px;
      left: -2px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #303030;
    }
    .text{
      @include tsukushi-b;
      font-size: 22px;
      line-height: normal;
    }
    .desc{
      @include basicP;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 30px;
      span{
        display: block;
      }
    }
  }
  .shcedule_wrap{
    margin-bottom: 40px;
    &.last{
      position: relative;
      &::before{
        display: block;
        content: "";
        background: $basicBgColor;
        width: 100%;
        height: calc(100% + 50px);
        position: absolute;
        left: -2px;
        top: -40px;
      }
    }
    .item_box{
      position: relative;
      z-index: 10;
      @include flexSet;
      align-items: center;
      padding: 15px 20px 15px 15px;
      background: #fff;
      margin-left: 35px;
      box-sizing: border-box;
      margin-bottom: 10px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .img_wrap{
        width: 185px;
        margin-right: 25px;
      }
      .txt_wrap{
        width: calc(100% - 210px);
        .time{
          display: block;
          @include tsukushi-b;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.27px;
          color: #646464;
          margin-bottom: 5px;
        }
        .schedule_ttl{
          @include tsukushi-b;
          font-size: 20px;
          line-height: 1.6;
          letter-spacing: 0.03em;
          margin-bottom: 10px;
        }
        .desc{
          @include basicP;
          font-size: 13px;
          line-height: 1.8;
        }
      }
    }
  }
  @media screen and (min-width: 21px){
    .slick-slider{
      .slick-dots{
        display: none !important;
      }
      .slick-track{
        width: 100% !important;
      }
      .slick-list{
        padding: 0 !important;
      }
      .item_box{
        width: calc(100% - 35px) !important;
        float: none !important;
      }
    }
  }
}


@media screen and (max-width: 1200px) and (min-width: 981px){
  .comp-time-shcedule{
    .shcedule_wrap{
      margin-bottom: 40px;
      .item_box{
        .img_wrap{
          width: 155px;
        }
        .txt_wrap{
          width: calc(100% - 180px);
          .schedule_ttl{
            font-size: 18px;
          }
          .desc{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-time-shcedule{
    margin-bottom: 60px;
    .title_box{
      padding-left: 25px;
      margin-bottom: 20px;
      position: relative;
      &::before{
        top: 10px;
        left: -1px;
        width: 12px;
        height: 12px;
      }
      .text{
        font-size: 18px;
        line-height: 1.6;
      }
      .desc{
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 30px;
        span{
          display: inline;
        }
      }
    }
    .shcedule_wrap{
      margin-bottom: 40px;
      &.last{
        position: relative;
        &::before{
          display: block;
          content: "";
          background: $basicBgColor;
          width: 100%;
          height: calc(100% + 50px);
          position: absolute;
          left: -2px;
          top: -40px;
        }
      }
      .item_box{
        display: block;
        padding: 15px;
        background: #fff;
        margin-left: 25px;
        margin-bottom: 10px;
        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
        .img_wrap{
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
        .txt_wrap{
          width: 100%;
          box-sizing: border-box;
          .time{
            margin-bottom: 10px;
          }
          .schedule_ttl{
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 10px;
          }
          .desc{
            @include basicP;
            font-size: 13px;
            line-height: 1.8;
          }
        }
      }
    }
  }
}
