.comp-header{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  right:0;
  z-index: 100;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  .header_inner{
    @include flexSet;
    justify-content: space-between;
    .header_left{
      @include flexSet;
      align-items: center;
      .h_logo{
        position: relative;
        height: 120px;
        margin-right: 30px;
        .hum_button, .header_cart{
          display: none;
        }
        &::after{
          display: block;
          content: "";
          position: absolute;
          top:0;
          bottom:0;
          right:0;
          margin: auto;
          width: 1px;
          height: 60%;
          background: #fff;
        }
        .logo_link{
          display: block;
          width: 160px;
          height: 120px;
          @include bgSet;
          background-size: 80px;
          background-image: url(../img/common/logo_white.svg);
          @include hover;
        }
      }
      .h_nav{
        ul{
          @include flexSet;
          li{
            margin-right: 1.5em;
            a{
              @include tsukushi-b;
              line-height: 2;
              display: block;
              @include hover;
              color: #fff;
            }
          }
        }
      }
    }
    .header_right{
      @include flexSet;
      align-items: center;
      .count_contents{
        @include flexSet;
        .count_item{
          &.line{
            position: relative;
            &::after{
              display: block;
              content: "";
              position: absolute;
              top:0;
              bottom:0;
              right:0;
              margin: auto;
              width: 1px;
              height: 80%;
              background: #fff;
            }
          }
          a{
            @include hover;
            display: block;
            color: #fff;
            padding: 0 35px;
            .number{
              @include flexSet;
              align-items: baseline;
              .num{
                display: block;
                @include tsukushi-r;
                font-size: 32px;
                letter-spacing: 1px;
                margin-right: 0.3em;
              }
            }
            .content{
              @include tsukushi-b;
              display: block;
              font-size: 14px;
              margin-top: 10px;
              span{
                display: inline-block;
              }
            }
          }
        }
      }
      .box_contents{
        @include flexSet;
        .box_item{
          display: block;
          width: 120px;
          height: 120px;
          font-size: 10px;
          text-align: center;
          @include bgSet;
          line-height: 180px;
          &.mypage{
            background-color: #f1f1f1;
            color: $black01;
            background-size: 25px;
            background-position: center top 40px;
            background-image: url(../img/common/mypage.svg);
          }
          &.cart{
            background-color: $black01;
            color: #fff;
            background-size: 32px;
            background-position: left 42px top 38px;
            background-image: url(../img/common/cart.svg);
          }
        }
      }
    }
  }
  &.underpage{
    background-image: none;
    .header_inner{
      .header_left{
        .h_logo{
          &::after{
            background: $black01;
          }
          .logo_link{
            background-image: url(../img/common/logo.svg);
          }
        }
        .h_nav{
          ul{
            li{
              a{
                color: $black01;
              }
            }
          }
        }
      }
      .header_right{
        .count_contents{
          .count_item{
            &.line{
              position: relative;
              &::after{
                background-color: $black01;
                color: $black01;
              }
            }
            a{
              color: $black01;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .comp-header{
    .header_inner{
      .header_left{
        .h_logo{
          height: 100px;
          margin-right: 25px;
          .logo_link{
            width: 120px;
            height: 100px;
            background-size: 60px;
          }
        }
        .h_nav{
          ul{
            li{
              a{
                font-size: 14px;
              }
            }
          }
        }
      }
      .header_right{
        .count_contents{
          .count_item{
            a{
              padding: 0 25px;
              .number{
                .num{
                  font-size: 28px;
                }
              }
              .content{
                font-size: 14px;
              }
            }
          }
        }
        .box_contents{
          .box_item{
            width: 100px;
            height: 100px;
            font-size: 10px;
            line-height: 150px;
            &.mypage{
              background-position: center top 30px;
            }
            &.cart{
              background-position: left 32px top 28px;
            }
          }
        }
      }
    }
    &.underpage{
      background-image: none;
      .header_inner{
        .header_left{
          .h_logo{
            &::after{
              background: $black01;
            }
            a{
              background-image: url(../img/common/logo.svg);
            }
          }
          .h_nav{
            ul{
              li{
                a{
                  color: $black01;
                }
              }
            }
          }
        }
        .header_right{
          .count_contents{
            .count_item{
              &.line{
                position: relative;
                &::after{
                  background-color: $black01;
                  color: $black01;
                }
              }
              a{
                color: $black01;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px){
  .comp-header{
    .header_inner{
      display: block;
      .header_left{
        .h_logo{
          width: 100%;
          @include flexSet;
          justify-content: space-between;
          align-items: center;
          position: relative;
          height: 100px;
          margin-right: 0px;
          .logo_link{
            display: block;
            width: 70px;
            height: 100px;
            @include bgSet;
            background-size: 60px;
          }
          .hum_button{
            width: 100px;
            height: 100px;
            display: block;
            position: relative;
            button{
              width: 100%;
              height: 100%;
              position: absolute;
              cursor: pointer;
              @include hover;
              @include bgSet;
              background-size: 35px;
              background-image: url(../img/common/menu_button_white.svg);
            }
          }
          .header_cart{
            width: 100px;
            height: 100px;
            display: block;
            position: relative;
            a{
              width: 100%;
              height: 100%;
              position: absolute;
              cursor: pointer;
              @include hover;
              @include bgSet;
              background-size: 35px;
              background-image: url(../img/common/cart.svg);
            }
          }
          &::after{
            display: none;
          }
        }
        .h_nav{
          display: none;
        }
      }
      .header_right{
        display: none;
      }
    }
    &.underpage{
      background-image: none;
      .header_inner{
        .header_left{
          .h_logo{
            .logo_link{
              background-image: url(../img/common/logo.svg);
            }
            .hum_button{
              button{
                background-image: url(../img/common/menu_button.svg);
              }
            }
            .header_cart{
              a{
                background-image: url(../img/common/cart_black.svg);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .comp-header{
    .header_inner{
      display: block;
      .header_left{
        .h_logo{
          height: 70px;
          margin-right: 0px;
          .logo_link{
            display: block;
            width: 70px;
            height: 70px;
            @include bgSet;
            background-size: 45px;
          }
          .hum_button{
            width: 60px;
            height: 60px;
            display: block;
            position: relative;
            button{
              background-size: 25px;
            }
          }
          .header_cart{
            width: 60px;
            height: 60px;
            a{
              width: 100%;
              height: 100%;
              background-size: 25px;
            }
          }
        }
      }
    }
  }
}
